    /*
    Flaticon icon font: Flaticon
    Creation date: 26/06/2016 09:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-2-squares:before { content: "\f100"; }
.flaticon-account-balance:before { content: "\f101"; }
.flaticon-bag:before { content: "\f102"; }
.flaticon-barcode:before { content: "\f103"; }
.flaticon-barcode-1:before { content: "\f104"; }
.flaticon-box:before { content: "\f105"; }
.flaticon-box-1:before { content: "\f106"; }
.flaticon-business-stocks-graphic-with-two-arrows:before { content: "\f107"; }
.flaticon-cash-register:before { content: "\f108"; }
.flaticon-change:before { content: "\f109"; }
.flaticon-checklist-and-pencil:before { content: "\f10a"; }
.flaticon-commerce:before { content: "\f10b"; }
.flaticon-commerce-1:before { content: "\f10c"; }
.flaticon-commerce-2:before { content: "\f10d"; }
.flaticon-credit-card:before { content: "\f10e"; }
.flaticon-delivery:before { content: "\f10f"; }
.flaticon-fashion:before { content: "\f110"; }
.flaticon-full-items-inside-a-shopping-bag:before { content: "\f111"; }
.flaticon-interface:before { content: "\f112"; }
.flaticon-line-graphic-on-a-computer-monitor-in-a-circle:before { content: "\f113"; }
.flaticon-list:before { content: "\f114"; }
.flaticon-male-and-female-symbol:before { content: "\f115"; }
.flaticon-man-improving-business-graphic-arrow-holding-it-up-for-ascendant-stock:before { content: "\f116"; }
.flaticon-money-transfer:before { content: "\f117"; }
.flaticon-people:before { content: "\f118"; }
.flaticon-people-1:before { content: "\f119"; }
.flaticon-placeholder-on-map-paper-in-perspective:before { content: "\f11a"; }
.flaticon-sale-announcer:before { content: "\f11b"; }
.flaticon-sales:before { content: "\f11c"; }
.flaticon-sales-symbol-of-up-arrow-and-a-businessman:before { content: "\f11d"; }
.flaticon-scissors:before { content: "\f11e"; }
.flaticon-signs:before { content: "\f11f"; }
.flaticon-stock:before { content: "\f120"; }
.flaticon-stock-data-analysis:before { content: "\f121"; }
.flaticon-transfer:before { content: "\f122"; }
.flaticon-transfer-1:before { content: "\f123"; }
.flaticon-transference:before { content: "\f124"; }
.flaticon-truck:before { content: "\f125"; }
.flaticon-warehouse:before { content: "\f126"; }
.flaticon-wedding-planning:before { content: "\f127"; }
.flaticon-worker-loading-boxes:before { content: "\f128"; }
    
    $font-Flaticon-2-squares: "\f100";
    $font-Flaticon-account-balance: "\f101";
    $font-Flaticon-bag: "\f102";
    $font-Flaticon-barcode: "\f103";
    $font-Flaticon-barcode-1: "\f104";
    $font-Flaticon-box: "\f105";
    $font-Flaticon-box-1: "\f106";
    $font-Flaticon-business-stocks-graphic-with-two-arrows: "\f107";
    $font-Flaticon-cash-register: "\f108";
    $font-Flaticon-change: "\f109";
    $font-Flaticon-checklist-and-pencil: "\f10a";
    $font-Flaticon-commerce: "\f10b";
    $font-Flaticon-commerce-1: "\f10c";
    $font-Flaticon-commerce-2: "\f10d";
    $font-Flaticon-credit-card: "\f10e";
    $font-Flaticon-delivery: "\f10f";
    $font-Flaticon-fashion: "\f110";
    $font-Flaticon-full-items-inside-a-shopping-bag: "\f111";
    $font-Flaticon-interface: "\f112";
    $font-Flaticon-line-graphic-on-a-computer-monitor-in-a-circle: "\f113";
    $font-Flaticon-list: "\f114";
    $font-Flaticon-male-and-female-symbol: "\f115";
    $font-Flaticon-man-improving-business-graphic-arrow-holding-it-up-for-ascendant-stock: "\f116";
    $font-Flaticon-money-transfer: "\f117";
    $font-Flaticon-people: "\f118";
    $font-Flaticon-people-1: "\f119";
    $font-Flaticon-placeholder-on-map-paper-in-perspective: "\f11a";
    $font-Flaticon-sale-announcer: "\f11b";
    $font-Flaticon-sales: "\f11c";
    $font-Flaticon-sales-symbol-of-up-arrow-and-a-businessman: "\f11d";
    $font-Flaticon-scissors: "\f11e";
    $font-Flaticon-signs: "\f11f";
    $font-Flaticon-stock: "\f120";
    $font-Flaticon-stock-data-analysis: "\f121";
    $font-Flaticon-transfer: "\f122";
    $font-Flaticon-transfer-1: "\f123";
    $font-Flaticon-transference: "\f124";
    $font-Flaticon-truck: "\f125";
    $font-Flaticon-warehouse: "\f126";
    $font-Flaticon-wedding-planning: "\f127";
    $font-Flaticon-worker-loading-boxes: "\f128";