<div class="page-header">
    <h1 id="user_edit">
        Admin Edit
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Edit Admin account Credentials
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/admin_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color: black">Admin Account Edit Form</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="user-EDIT"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
    // console.log(currentDataUrl);
    var ownName;

    var nid_role_enum;
    var nid_role_optionpath;
    if(getRole() == "system_admin"){
        nid_role_enum = ["system_admin", "admin"];
        nid_role_optionpath = ["System Admin", "Admin"];
    } else if (getRole() == "admin"){
        nid_role_enum = ["admin", "developer"];
        nid_role_optionpath = ["Admin", "Developer"];
    } else {
        nid_role_enum = ["developer"];
        nid_role_optionpath = ["Developer"];
    }

    $.alpaca.Fields.Custom1Field = $.alpaca.Fields.TextField.extend({
        getFieldType: function() {
            return "checkActive";
        },
        setValue: function(val) {
//            var value = val.split(" ");
            if (val == true) {
                this.base("Activated");
            } else {
                this.base("Deactivcated");
            }
        }
    });
    Alpaca.registerFieldClass("checkActive", Alpaca.Fields.Custom1Field);

    $.alpaca.Fields.Custom1Field = $.alpaca.Fields.TextField.extend({
        getFieldType: function() {
            return "checkBlocked";
        },
        setValue: function(val) {
//            var value = val.split(" ");
            if (val == true) {
                this.base("Blocked");
            } else {
                this.base("Unblocked");
            }
        }
    });
    Alpaca.registerFieldClass("checkBlocked", Alpaca.Fields.Custom1Field);

    $("#user-EDIT").alpaca({
//        "dataSource": currentDataUrl,
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string",
                },
                "name": {
                    "title": "Admin Name",
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 3,
                    "required": true,
                },
                "email": {
                    "title": "Email Address",
                    "format": "email",
                    "required": true,
                },
                "nidNo": {
                    "title": "NID Number",
                    "type": "string",
                },
                "phoneNo": {
                    "title": "Phone No",
                    "type": "string",
                    "maxLength": 11,
                    "minLength": 11,
                    "required": true,
                },
                "current_active": {
                    "title": "Current User Activation Status",
                    "type": "string",
                },
                "active_status_change": {
                    "title": "Change Activation Status",
                    "type": "string",
                },
                "current_block": {
                    "title": "Current User Blocking Status",
                    "type": "string",
                },
                "block_status_change": {
                    "title": "Change Blocking Status",
                    "type": "string",
                },
                "nidRole": {
                    "title": "NID Role",
                    "enum": nid_role_enum
                },
                "userToken": {
                    "title": "NID Role",
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 3,
                },
                "createdAt": {
                    "title": "NID Role",
                    "type": "string",
                },
                "updatedAt": {
                    "title": "NID Role",
                    "type": "string",
                },
                "isRemoved": {
                    "title": "User Removed",
                    "type": "string",
                },
            }
        },
        "postRender": function(){
            load_data();
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "name": {
                    "id": "name",
                    "validator": function(callback) {
                        var nameValue = $.trim(this.getValue());
                        if(nameValue == ownName){
                            callback({
                                "status": true,
                            });
                        } else {
                            requestGoApi("/check/username?name="+nameValue, 'GET', '', getAuthToken(), function(data){
                                if(data.isSuccess == true){
                                    callback({
                                        "status": false,
                                        "message": "This name <strong>"+nameValue+"</strong> is already taken"
                                    });
                                } else {
                                    callback({
                                        "status": true,
                                    });
                                }
                            }, function(data){
                                gritter("Server Error", "server is currently offline", false, '3500', 'gritter-error');
                            }, false);
                        }
                    },
                    "helper": "Change Name"
                },
                "email": {
                    "id": "email",
                    "helper": "Change Email Address"
                },
                "nidNo": {
                    "id": "nidNo",
                    "helper": "Can Not Change NID number",
                    "disabled": true
                },
                "phoneNo": {
                    "id": "phoneNo",
                    "helper": "Change User's Phone Number"
                },
                "current_active": {
                    "id": "current_active",
                    "helper": "The Status of this user.. Change the status below",
                    "disabled": true
                },
                "active_status_change": {
                    "id": "active_status_change",
                    "type": "checkbox",
                    "helper": "Check to Activate or Leave to De-activate"
                },
                "current_block": {
                    "id": "current_block",
                    "helper": "The Status of this user.. Change the status below",
                    "disabled": true,
                },
                "block_status_change": {
                    "id": "block_status_change",
                    "type": "checkbox",
                    "helper": "Check to Block or Leave to Unblock"
                },
                "nidRole": {
                    "id": "nidRole",
                    "type": "select",
                    "optionLabels": nid_role_optionpath,
                    "removeDefaultNone": true,
                    "helper": "Change User Role"
                },
                "userToken": {
                    "id" : "userToken",
                    "type": "hidden"
                },
                "createdAt": {
                    "id" : "createdAt",
                    "type": "hidden"
                },
                "updatedAt": {
                    "id" : "updatedAt",
                    "type": "hidden"
                },
                "isRemoved": {
                    "id" : "isRemoved",
//                    "type": "hidden",
                    "disabled": true,
                    "helper": "Is the User is Remove before",
                },
            },
            "form": {
                "attributes": {
                    "action": API_SERVER_ADDR + "/update/user",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.data = JSON.stringify(value);
                            console.log(config.data);
                            requestGoApi('/update/user', 'POST', config.data, getAuthToken(), user_update_response, user_update_response_err, false);
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });

    function user_update_response(data){
        if(data.isSuccess){
            gritter("Success", "Successfully Admin Updated", false, '1500', 'gritter-success gritter-center');
            load_view('/admin_management.html');
        } else {
            gritter("Failed", "Admin Update Failed", false, '3000', 'gritter-error gritter-center');
        }
    }

    function user_update_response_err(data){

    }

    function user_edit_response(data){
        if(data){
            $('#id').val($.trim(data.id));
            $('#name').val($.trim(data.name));
            ownName = $.trim(data.name);

            $('#password').val($.trim(data.password));
            $('#email').val($.trim(data.email));
            $('#nidNo').val($.trim(data.nidNo));
            $('#phoneNo').val($.trim(data.phoneNo));

            var actsts = (data.isActive == "true") ? 'Activated' : 'De-activated';
            var blocksts = (data.isBlocked == "true") ? 'Bocked' : 'Unblocked';
            $('#current_active').val(actsts);
            $('#current_block').val(blocksts);
            $('[name="active_status_change"]').prop("checked", (data.isActive == "true") ? true : false );
            $('[name="block_status_change"]').prop("checked", (data.isBlocked == "true") ? true : false );

            $('#nidRole').val($.trim(data.nidRole));
            $('#userToken').val($.trim(data.userToken));
            $('#createdAt').val($.trim(data.createdAt));
            $('#updatedAt').val($.trim(data.updatedAt));
            $('#isRemoved').val($.trim(data.isRemoved));
        }
    }

    function user_edit_response_err(data){

    }

    function load_data(){
        requestGoApi(currentDataUrl, "GET", '', getAuthToken(), user_edit_response, user_edit_response_err, true);
    }
</script>