<div class="page-header">
    <h1 id="user_management">
        Admin Management
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create or Delete Administrator
        </small>
    </h1>
</div><!-- /.page-header -->

<p id="register_new_admin_switch" class="alert alert-success hide">
    <button class="btn btn-success" onclick="load_view('/admin_new.html')">Register New Admins</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">Existing Admin List</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="admin_grid-data"></table>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<script>
    function btgDridRequest_userman(params){
        console.log(params);
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;
        var search = (params.data.search == undefined) ? '' : params.data.search;
        requestGoApi('/user?order='+order+'&offset='+offset+'&limit='+limit+'&search='+search+'&role=admin', 'GET', '', getAuthToken() , function(data){
            var jsonData = data;
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }

    function grid_for_sys_admin(){
        var grid = $('#admin_grid-data').bootstrapTable({
            ajax: btgDridRequest_userman,
            responseHandler: data_grid_response,
            detailView: true,
            detailFormatter: adminManagementDetailFormatter,
            search: true,
            searchOnEnterKey: true,
            pagination: true,
            sidePagination: 'server',
            pageSize: 5,
            pageList: [5, 10],
            showRefresh: true,
            showColumns: false,
            buttonsClass: 'info',
            columns: [{
                field: 'name',
                title: 'Admin Name'
            }, {
                field: 'email',
                title: 'Email Address'
            }, {
                field: 'phoneNo',
                title: 'Phone Number'
            }, {
                field: 'isActive',
                title: 'Activation status',
                cellStyle: statusCellstyle,
                formatter: statusFormatter,
            }, {
                field: 'createdAt',
                title: 'Created',
                formatter: dateTimeFormatterForGrid,
            }, {
                field: 'updatedAt',
                title: 'Last Update',
                formatter: dateTimeFormatterForGrid,
            }, {
                field: 'nidRole',
                title: 'Role'
            }, {
                field: 'isBlocked',
                title: 'Block status',
                cellStyle: blockstatusCellstyle,
                formatter: blockstatusFormatter,
            }, {
                field: 'commands',
                title: 'Commands',
                formatter: commandFormatter,
                searchable: false
            }]
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function(e){
                load_view_n_data("/admin_edit.html","/single/user?id=" + $(this).attr('uniqueId') + "&rand=" + randomGenarator());

            }).end().find(".command-delete").on("click", function(e){
                var deleteUserId = $(this).attr('uniqueId');
                bootbox.confirm("Are you sure to delete this admin?", function(result) {
                    if(result) {
                        requestGoApi(API_SERVER_ADDR + "/delete/user?id="+ deleteUserId, 'POST', '', getAuthToken(), user_delete_response, user_delete_response_err, true);
                    }
                });
            });
        });
    }

    function adminManagementDetailFormatter(value, row, index){
        var html = [];
        $.each(row, function (key, value) {
            if (key == 'nidNo') {
                html.push(  '<p class="alert alert-default">' +
                        '<b>NID Number</b>' +
                        '<span style="margin-left: 20px">'+value+'</span>' +
                        '</p>');
            }
        });
        return html.join('');
    }

    function user_delete_response(data){
        gritter("Success", "Successfully Deleted the Admin", false, '1500', 'gritter-success gritter-center');
        $("#admin_grid-data").bootstrapTable("refresh");
//        gritter("Failed", "User deletion failed", false, '3000', 'gritter-error gritter-center');
    }

    function user_delete_response_err(data){

    }

    function commandFormatter(value, row, index) {
        return '<div class="btn-group btn-overlap btn-corner">' +
                '<label class="btn btn-sm btn-white btn-info">' +
                '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
                '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>' +
                '</label>' +
                '</div>';
    }

    function statusFormatter(value, row, index){
        if (value == "true") {
            return "Active";
        } else {
            return "Deactive";
        }
    }

    function statusCellstyle(value, row, index, field){
        if (value == "false") {
            return { css: {"background": "#fb9999"} };
        } else {
            return { css: {"background": "#dbffd7"} };
        }
    }

    function blockstatusFormatter(value, row, index){
        if (value == "true") {
            return "Blocked";
        } else {
            return "Unblocked";
        }
    }

    function blockstatusCellstyle(value, row, index, field){
        if (value == "true") {
            return { css: {"background": "#fb9999"} };
        } else {
            return { css: {"background": "#dbffd7"} };
        }
    }

    function grid_for_admin(){
        var grid = $('#admin_grid-data').bootstrapTable({
            ajax: btgDridRequest_userman,
            responseHandler: data_grid_response,
            detailView: true,
            detailFormatter: adminManagementDetailFormatter,
            search: true,
            searchOnEnterKey: true,
            pagination: true,
            sidePagination: 'server',
            pageSize: 5,
            pageList: [5, 10],
            showRefresh: true,
            showColumns: false,
            buttonsClass: 'info',
            columns: [{
                field: 'name',
                title: 'Admin Name'
            }, {
                field: 'email',
                title: 'Email Address'
            }, {
                field: 'phoneNo',
                title: 'Phone Number'
            }, {
                field: 'isActive',
                title: 'Activation status',
                cellStyle: statusCellstyle,
                formatter: statusFormatter,
            }, {
                field: 'createdAt',
                title: 'Created',
                formatter: dateTimeFormatterForGrid,
            }, {
                field: 'updatedAt',
                title: 'Last Update',
                formatter: dateTimeFormatterForGrid,
            }, {
                field: 'nidRole',
                title: 'Role'
            }, {
                field: 'isBlocked',
                title: 'Block status',
                cellStyle: blockstatusCellstyle,
                formatter: blockstatusFormatter,
            }]
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function(e){
                load_view_n_data("/admin_edit.html","/single/user?id=" + $(this).attr('uniqueId') + "&rand=" + randomGenarator());

            }).end().find(".command-delete").on("click", function(e){
                var deleteUserId = $(this).attr('uniqueId');
                bootbox.confirm("Are you sure to delete this admin?", function(result) {
                    if(result) {
                        requestGoApi(API_SERVER_ADDR + "/delete/user?id="+ deleteUserId, 'POST', '', getAuthToken(), user_delete_response, user_delete_response_err, true);
                    }
                });
            });
        });
    }

    jQuery(function($){
        if (getRole() == 'system_admin'){
            $('#register_new_admin_switch').removeClass('hide');
            grid_for_sys_admin();
        } else if (getRole() == 'admin'){
            $('#register_new_admin_switch').addClass('hide');
            grid_for_admin();
        }
    });
</script>