<div class="page-header">
    <h1 id="app_log_management">
        System Log
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Details view of all application activity
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">System Log</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="limit_grid-data"></table>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<script>
    function btgDridRequest_limit(params){
        console.log(params);
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;
        var search = (params.data.search == undefined) ? '' : params.data.search;
        requestGoApi('/logs?order='+order+'&offset='+offset+'&limit='+limit+'&search='+search, 'GET', '', getAuthToken() , function(data){
            var jsonData = individual_bill_response_new(data, 'systemLog');
            for(var i = 0; i < data.rows.length; i++){
                if(data.rows[i].logType.trim() == ''){
                    data.rows.splice(i,1);
                }
            }
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }

    var grid = $('#limit_grid-data').bootstrapTable({
        ajax: btgDridRequest_limit,
        responseHandler: data_grid_response,
        search: false,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 20,
        pageList: [20, 100, 500],
        showRefresh: false,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'date',
            title: 'Date',
            formatter: dateTimeFormatterForGrid,
        }, {
            field: 'ipAddress',
            title: 'IP'
        }, {
            field: 'logType',
            title: 'Type'
        }, {
            field: 'userName',
            title: 'User Name'
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/user_edit.html","/single/user?id=" + $(this).attr('uniqueId') + "&rand=" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            var deleteUserId = $(this).attr('uniqueId');
            bootbox.confirm("Are you sure to delete this user?", function(result) {
                if(result) {
                    //requestGoApi(API_SERVER_ADDR + "/delete/user?id="+ deleteUserId, 'POST', '', getAuthToken(), user_delete_response, user_delete_response_err, true);
                }
            });
        });
    });

    function user_delete_response(data){
        gritter("Success", "Successfully Deleted the user", false, '1500', 'gritter-success gritter-center');
        $("#user_grid-data").bootstrapTable("refresh");
//        gritter("Failed", "User deletion failed", false, '3000', 'gritter-error gritter-center');
    }

    function user_delete_response_err(data){
        gritter("Sorry", "Server is currently offline. Try again later", false, '3500', 'gritter-error');
    }

    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
                '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>' +
                '<button class="btn btn-success command-request_limit" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-shopping-cart"> </button>';
    }

    jQuery(function($) {

    });

</script>