<div class="page-header">
    <h1 id="billing">
        Billing
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Details view of Billing
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">Billing</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="limit_grid-data" class="grid_detail_eventclass"></table>
            <table id="limit_grid-data_search" class="grid_detail_eventclass"></table>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<div id="billing_toolbar">
    <div class="form-inline" role="form">
        <div class="alert alert-default">
            <div class="form-group">
                <!--<input id="billing_date_sc_from" name="billing_date_sc_from" class="form-control w70" type="number" placeholder="From" />-->
                <div class="input-append date form_datetime">
                    <input id="billing_date_sc_from" class="form-control w70" size="16" type="text" value="" readonly placeholder="Date Search From">
                    <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="form-group">
                <!--<input id="billing_date_sc_to" name="billing_date_sc_to" class="form-control w70" type="number" placeholder="To">-->
                <div class="input-append date form_datetime">
                    <input id="billing_date_sc_to" class="form-control w70" size="16" type="text" value="" readonly placeholder="Date Search To">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button id="billing_date_sc_submit" type="submit" class="btn btn-lg btn-info btn-white btn-round" style="margin-bottom: 10px;">Search</button>
                    <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var dateSearchData = new Object();
    var cus_search_grid_data;

    var today = dateModifier(new Date());

    var tmp1 = new Date();
    tmp1.setDate(tmp1.getDate() - 7);
    var weekAgo = dateModifier(tmp1);

    var tmp2 = new Date();
    tmp2.setDate(tmp2.getDate() - 15);
    var twoweekAgo = dateModifier(tmp2);

    var tmp3 = new Date();
    tmp3.setDate(tmp3.getDate() - 30);
    var maonthAgo = dateModifier(tmp3);

    console.log('Today: '+today);
    console.log('One Week ago: '+weekAgo);
    console.log('Two Week ago: '+twoweekAgo);
    console.log('Month ago: '+maonthAgo);

    dateSearchData.from = today;
    dateSearchData.to = today;

    function dateModifier(date){
        var dd = date.getDate();
        var mm = date.getMonth()+1; //January is 0!
        var yyyy = date.getFullYear();
        if(dd<10) {
            dd='0'+dd
        }
        if(mm<10) {
            mm='0'+mm
        }
        var mdate = yyyy+'-'+mm+'-'+dd;
        return mdate;
    }

    function btgDridRequest_limit(params){
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;
        var search = (params.data.search == undefined) ? '' : params.data.search;
        requestGoApi('/bill/summary?order='+order+'&offset='+offset+'&limit='+limit+'&search='+search+'&fromDate='+today+'&toDate='+today, 'GET', '', getAuthToken() , function(data){
            var jsonData = data;
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }
    function btgDridRequest_limit_cus(params){
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;
        var search = (params.data.search == undefined) ? '' : params.data.search;

        requestGoApi('/bill/summary?order='+order+'&offset='+offset+'&limit='+limit+'&fromDate='+dateSearchData.from+'&toDate='+dateSearchData.to+'&search='+search, 'GET', '', getAuthToken() , function(data){
            var jsonData = data;
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }

//    This is the GRID for Super admin and Admins
    function admins_grid(method, node){
        gridRefresh(node);
        var grid = node.bootstrapTable({
            ajax: method,
            responseHandler: data_grid_response,
            toolbar: '#billing_toolbar',
            detailView: true,
            search: false,
            searchOnEnterKey: true,
            pagination: true,
            sidePagination: 'server',
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            showRefresh: false,
            showColumns: false,
            buttonsClass: 'info',
            columns: [{
                field: 'commands',
                title: 'View History',
                formatter: admincommandFormatter,
                searchable: false
            }, {
                field: 'userName',
                title: 'Developer Name'
            }, {
                field: 'invoiceNumber',
                title: 'Invoice'
            }, {
                field: 'totalNidServerHit',
                title: 'Total Nid Server Hit',
            }, {
                field: 'totalCacheHit',
                title: 'Total Cache Hit'
            }]
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            grid.find(".command-invoice_wise").on("click", function(e){
                load_view_n_data_single("/billing_invoice_wise_history.html", $(this).attr('invoiceNumber'), dateSearchData);

            }).end().find(".command-delete").on("click", function(e){
                var deleteUserId = $(this).attr('uniqueId');
                bootbox.confirm("Are you sure to delete this user?", function(result) {
                    if(result) {
                        //requestGoApi(API_SERVER_ADDR + "/delete/user?id="+ deleteUserId, 'POST', '', getAuthToken(), user_delete_response, user_delete_response_err, true);
                    }
                });
            });
        });
    }

    function developer_grid(method, node){
        gridRefresh(node);
        var grid = node.bootstrapTable({
            ajax: method,
            responseHandler: data_grid_response,
            detailView: true,
            toolbar: '#billing_toolbar',
            search: false,
            searchOnEnterKey: true,
            pagination: true,
            sidePagination: 'server',
            pageSize: 10,
            pageList: [5, 10, 20],
            showRefresh: false,
            showColumns: false,
            buttonsClass: 'info',
            columns: [{
                field: 'commands',
                title: 'View History',
                formatter: admincommandFormatter,
                searchable: false
            }, {
                field: 'userName',
                title: 'Developer Name'
            }, {
                field: 'invoiceNumber',
                title: 'Invoice'
            }]
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            grid.find(".command-invoice_wise").on("click", function(e){
                load_view_n_data_single("/billing_invoice_wise_history.html", $(this).attr('invoiceNumber'), dateSearchData);
            });
        });
    }

    $('.grid_detail_eventclass').on('expand-row.bs.table', function (e, index, row, $detail) {
        var weekTotalHit;
        var weekCacheHit;
        var weekServerHit;

        var twoweekTotalHit;
        var twoweekCacheHit;
        var twoweekServerHit;

        var monthTotalHit;
        var monthCacheHit;
        var monthServerHit;

        $detail.html('Loading data from server ... Please wait ...');

        requestGoApi('/bill/summary?order=asc&offset=0&limit=10&fromDate='+weekAgo+'&toDate='+today+'&search=', 'GET', '', getAuthToken() , function(data){
            for(var i = 0; i < data.rows.length; i++){
                if(data.rows[i].nidUserId.trim() == row.nidUserId.trim()){
                    weekCacheHit = data.rows[i].totalCacheHit;
                    weekServerHit = data.rows[i].totalNidServerHit;
                    weekTotalHit = parseInt(weekCacheHit) + parseInt(weekServerHit);
                }
            }

            requestGoApi('/bill/summary?order=asc&offset=0&limit=10&fromDate='+twoweekAgo+'&toDate='+today+'&search=', 'GET', '', getAuthToken() , function(data){
                for(var i = 0; i < data.rows.length; i++){
                    if(data.rows[i].nidUserId.trim() == row.nidUserId.trim()){
                        twoweekCacheHit = data.rows[i].totalCacheHit;
                        twoweekServerHit = data.rows[i].totalNidServerHit;
                        twoweekTotalHit = parseInt(twoweekCacheHit) + parseInt(twoweekServerHit);
                    }
                }

                requestGoApi('/bill/summary?order=asc&offset=0&limit=10&fromDate='+maonthAgo+'&toDate='+today+'&search=', 'GET', '', getAuthToken() , function(data){
                    for(var i = 0; i < data.rows.length; i++){
                        if(data.rows[i].nidUserId.trim() == row.nidUserId.trim()){
                            monthCacheHit = data.rows[i].totalCacheHit;
                            monthServerHit = data.rows[i].totalNidServerHit;
                            monthTotalHit = parseInt(monthCacheHit) + parseInt(monthServerHit);
                        }
                    }

                    $detail.html('<div class="container-fluid">' +
                            '<h2>Hit Summery</h2>' +
                            '<table class="table table-striped">' +
                            '<thead>' +
                            '<tr>' +
                            '<th></th>' +
                            '<th>Cache Hit</th>' +
                            '<th>Server Hit</th>' +
                            '<th>Total Hit</th>' +
                            '</tr>' +
                            '</thead>' +
                            '<tbody>' +
                            '<tr>' +
                            '<td>Last 30 Days</td>' +
                            '<td>'+monthCacheHit+'</td>' +
                            '<td>'+monthServerHit+'</td>' +
                            '<td>'+monthTotalHit+'</td>' +
                            '</tr>' +
                            '<tr>' +
                            '<td>Last 15 Days</td>' +
                            '<td>'+twoweekCacheHit+'</td>' +
                            '<td>'+twoweekServerHit+'</td>' +
                            '<td>'+twoweekTotalHit+'</td>' +
                            '</tr><tr>' +
                            '<td>Last 7 Days</td>' +
                            '<td>'+weekCacheHit+'</td>' +
                            '<td>'+weekServerHit+'</td>' +
                            '<td>'+weekTotalHit+'</td>' +
                            '</tr>' +
                            '</tbody>' +
                            '</table>' +
                            '</div>');
                }, function(data){}, false);
            }, function(data){}, false);
        }, function(data){}, false);
    });

    function flagstatusFormatter (value, row, index){
        if (value == true) {
            return "Current";
        } else {
            return "Not Current";
        }
    }

    function flagstatusCellstyle(value, row, index, field){
        if (value == true) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function user_delete_response(data){
        gritter("Success", "Successfully Deleted the user", false, '1500', 'gritter-success gritter-center');
        $("#user_grid-data").bootstrapTable("refresh");
//        gritter("Failed", "User deletion failed", false, '3000', 'gritter-error gritter-center');
    }

    function user_delete_response_err(data){

    }

    function commandFormatter(value, row, index) {

        return '<div class="btn-group btn-overlap btn-corner">' +
                '<button class="btn btn-default command-individual_bill" uniqueId="'+index+'" Id="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-credit-card" aria-hidden="true"></span></button>' +
                '</label>' +
                '</div>';
    }

    function admincommandFormatter(value, row, index) {
        return '<div class="btn-group btn-overlap btn-corner">' +
                '<button class="btn btn-default command-invoice_wise" invoiceNumber="'+$.trim(row.invoiceNumber)+'" uniqueId="'+index+'" Id="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-info-circle" aria-hidden="true"></span></button>' +
                '</label>' +
                '</div>';
    }

    function collectSrcData(){
        dateSearchData.from = $('#billing_date_sc_from').val();
        dateSearchData.to = $('#billing_date_sc_to').val();
        console.log(dateSearchData);

        if (getRole() == "system_admin" || getRole() == "admin"){  //limit_grid-data_search
            admins_grid(btgDridRequest_limit_cus, $('#limit_grid-data_search'));
        } else if (getRole() == "developer"){
            developer_grid(btgDridRequest_limit_cus, $('#limit_grid-data_search'));
        }
    }

    function gridRefresh(node){
        node.bootstrapTable('refresh');
    }

    jQuery(function($) {
//        $('.form_datetime').datetimepicker('show');
//        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
//        $('#datetimepicker').datetimepicker();
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            minView : 2,
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom"
        });

        $('#billing_date_sc_submit').click(function(e){
            collectSrcData();
        });

        if (getRole() == "system_admin" || getRole() == "admin"){
            admins_grid(btgDridRequest_limit, $('#limit_grid-data'));
        } else if (getRole() == "developer"){
            developer_grid(btgDridRequest_limit, $('#limit_grid-data'));
        }
    });

</script>