<div class="page-header">
    <h1 id="user_edit">
        Billing History
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Billing History based on individual invoice for developer
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/billing.html')">Back</button>
    <span class="pull-right">Billings Details for <strong id="bill_details_name" ></strong> </span>
</p>

<link rel="stylesheet" href="views/invoice/style.css">
<div id="full_bill_page">
    <div id="user_individual_billing">
        <header>
            <h1>Bill Summary</h1>
            <address>
                <p id="bill_report_name" style="font-size: 14px;"></p>
                <p id="bill_report_email" style="font-size: 14px;"></p>
                <p id="bill_report_phone" style="font-size: 14px;"></p>
                <p id="bill_report_invoice" style="font-size: 14px;"></p>
                <p id="bill_report_date" style="font-size: 14px;"></p>
            </address>
            <span><img alt="" src="assets/gov_logo.png" width="80"><input type="file" accept="image/*"></span>
        </header>
        <article>
            <table class="inventory">
                <thead>
                <tr>
                    <th><span>Total Hit</span></th>
                    <th><span>Unit Price</span></th>
                    <th><span>VAT (%)</span></th>
                    <th><span>Total</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="text-align: center; font-size: 14px; font-weight: bold;"><a class="cut">-</a><span id="bill_report_hit"  ></span></td>
                    <td style="text-align: center; font-size: 14px; font-weight: bold;"><span id="bill_report_unitePrice"></span></td>
                    <td style="text-align: center; font-size: 14px; font-weight: bold;"><span id="bill_report_vat" data-prefix ></span><span></span></td>
                    <td style="text-align: center; font-size: 14px; font-weight: bold;"><span id="bill_report_total" ></span></td>
                </tr>
                </tbody>
            </table>
        </article>
        <aside>
            <h1><span ></span></h1>

        </aside>
    </div>

    <div>
        <p>
            <a id="print_bill_summery" class="btn btn-success" download="printContent.png">Print Bill Summary</a>
            <button id="print_bill_summery_text" class="btn btn-default">Print as Text Only</button>
        </p>
    </div>

    <div class="widget-box widget-color-default light-border">
        <div class="widget-header widget-header-small widget-header-flat">
            <span style="color:black">Billing History</span>
            <div class="widget-toolbar">
                <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <table id="limit_grid-data" class="table table-bordered table-hover" data-show-export="true" data-filter-control='true' style="background: #FFFFFF" >
                    <thead>
                    <tr>
                        <th> </th>
                        <th> <select id='findcategory' class='form-control gosearch'><option></option></select></th>
                    </tr>
                    </thead>
                </table>
            </div>  <!-- WIDGET MAIN -->
        </div> <!-- WIDGET BODY -->
    </div>
</div>

<script>
    var current_export_mode = 'all';
    var totalDataSize;
    var printData = new Object();
    var imageData;

    function btgDridRequest_limit(params){
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;
        var search = (params.data.search == undefined) ? '' : params.data.search;
        var dateforthispageFrom;
        var dateforthispageTo;

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10) {
            dd='0'+dd
        }
        if(mm<10) {
            mm='0'+mm
        }
        today = yyyy+'/'+mm+'/'+dd;

        console.log(dateSearchData.from);

        requestGoApi('/bill/detail?order='+order+'&offset='+offset+'&limit='+limit+'&fromDate='+dateSearchData.from+'&toDate='+dateSearchData.to+'&search='+currentDataUrl, 'GET', '', getAuthToken() , function(data){
            var jsonData = data;
            var vat = parseFloat(jsonData.rows[0].vat) / 100;
            var totalPrice = parseInt(jsonData.total) * parseInt(jsonData.rows[0].unitPrice);
            var totalVat = totalPrice * vat;

            printData.vat = jsonData.rows[0].vat;
            printData.username = jsonData.rows[0].userName;
            printData.useremail = jsonData.rows[0].userEmail;
            printData.phoneNo = jsonData.rows[0].phoneNo;
            printData.invoiceNo = jsonData.rows[0].invoiceNumber;
            printData.createdAt = dateTimeFormatter(jsonData.rows[0].createdAt);
            printData.hit = jsonData.total;
            printData.uniteprice = jsonData.rows[0].unitPrice;
            printData.total = totalPrice+totalVat;

            $('#bill_report_name').html('Name: <strong>'+ jsonData.rows[0].userName+'</strong>');
            $('#bill_report_email').html('Email Address: <strong>'+jsonData.rows[0].userEmail+'</strong>');
            $('#bill_report_phone').html('Phone No: <strong>'+jsonData.rows[0].phoneNo+'</strong>');
            $('#bill_report_invoice').html('Invoice Number: <strong>'+jsonData.rows[0].invoiceNumber+'</strong>');
            $('#bill_report_date').html('App Creation Date: <strong>'+jsonData.rows[0].createdAt+'</strong>');

            $('#bill_report_hit').html(jsonData.total).attr('align', 'center');
            $('#bill_report_unitePrice').html(jsonData.rows[0].unitPrice).attr('align', 'center');
            $('#bill_report_vat').html(jsonData.rows[0].vat).attr('align', 'center');
            $('#bill_report_total').html( totalPrice+totalVat ).attr('align', 'center');

            totalDataSize = jsonData.total;
            console.log(jsonData.rows[0]);
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });

//            makeImageCanvas($('#full_bill_page'));
//            document.getElementById('print_bill_summery').addEventListener('click', download, false);
            $('#print_bill_summery').click(function(){
                makeImageCanvas($('#user_individual_billing'));
            });
            $('#print_bill_summery_text').click(function(){
                billSummeryPrint();
            });

        }, function(data){}, false);
    }

    var grid = $('#limit_grid-data').bootstrapTable({
        ajax: btgDridRequest_limit,
        responseHandler: data_grid_response,
        search: false,
        searchOnEnterKey: true,
        pagination: false,
        sidePagination: 'server',
        exportDataType: current_export_mode,
        pageSize: totalDataSize,
        pageList: [totalDataSize],
        showRefresh: false,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'appName',
            title: 'Application Name',
            formatter: commandNull,
        },
//        {
//            field: 'invoiceNumber',
//            title: 'Invoice Number',
//            formatter: commandNull,
//        },
        {
            field: 'fromCache',
            title: 'Source',
            formatter: fromCacheFormatter,
        }, {
            field: 'agent',
            title: 'Agent',
        }, {
            field: 'dateOfBirth',
            title: 'Date Of Birth',
        }, {
            field: 'idNo',
            title: 'NID',
        }, {
            field: 'ipAddress',
            title: 'IP',
        }, {
            field: 'requestDateTime',
            title: 'Date',
            formatter: dateTimeFormatterForGrid,
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/user_edit.html","/single/user?id=" + $(this).attr('uniqueId') + "&rand=" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            var deleteUserId = $(this).attr('uniqueId');
            bootbox.confirm("Are you sure to delete this user?", function(result) {
                if(result) {
                    //requestGoApi(API_SERVER_ADDR + "/delete/user?id="+ deleteUserId, 'POST', '', getAuthToken(), user_delete_response, user_delete_response_err, true);
                }
            });
        });
    });

    function fromCacheFormatter(value, row, index){
        if (value == true) {
            return "Cache Server";
        } else {
            return "NID Server";
        }
    }

    function user_delete_response(data){
        gritter("Success", "Successfully Deleted the user", false, '1500', 'gritter-success gritter-center');
        $("#user_grid-data").bootstrapTable("refresh");
//        gritter("Failed", "User deletion failed", false, '3000', 'gritter-error gritter-center');
    }

    function user_delete_response_err(data){
        gritter("Sorry", "Server is currently offline. Try again later", false, '3500', 'gritter-error');
    }

    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
                '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>' +
                '<button class="btn btn-success command-request_limit" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-shopping-cart"> </button>';
    }

    function commandNull(value, row, index){
        $('#bill_details_name').html($.trim(row.userName).toUpperCase());
        return $.trim(row.appName);
    }

    function billSummeryPrint(){
        var printinvoice = '<div id="invoice_bill_print">' +
                '<h1>Bill Summery</h1>' +
                '<p>Name: <strong>'+printData.username+'</strong> </p>'+
                '<p>Email: <strong>'+printData.useremail+'</strong> </p>'+
                '<p>Phone No: <strong>'+printData.phoneNo+'</strong> </p>'+
                '<p>Invoice Number: <strong>'+printData.invoiceNo.trim()+'</strong> </p>' +
                '<p>Creation Time: <strong>'+printData.createdAt.trim()+'</strong> </p>' +
                '<table class="meta">'+
                '<tr>'+
                '<th><span>Total Hit</span></th>'+
                '<td><span id="user_indi_bill-invoice">'+printData.hit+'</span></td>'+
                '</tr>'+
                '<tr>'+
                '<th><span>Unit Price</span></th>'+
                '<td><span id="prefix">'+printData.uniteprice+'</span></td>'+
                '</tr>'+
                '<tr>'+
                '<th><span>VAT (%)</span></th>'+
                '<td><span id="prefix"></span><span>'+printData.vat+'</span></td>'+
                '</tr>'+
                '<tr>'+
                '<th><span>Total</span></th>'+
                '<td><span id="prefix" contenteditable></span><span>'+printData.total+'</span></td>'+
                '</tr>'+
                '</table>' +
                '</div>';
        var doc = new jsPDF('p', 'pt', 'letter');
//        console.log($(printinvoice).html());
        var specialElementHandlers = {
            '#invoice_bill_print': function (element,renderer) {
                return true;
            }
        };
        doc.fromHTML($(printinvoice).html(), 20,20,{
            'width':500
        });
        doc.save('individual_bill.pdf');
    }

    function makeImageCanvas(node){
        html2canvas(node, {
            onrendered: function(canvas) {
                var context = canvas.getContext('2d');
                imageData = canvas.toDataURL("image/png", 1.0);

                var doc = new jsPDF("l", "mm", "a4");
                doc.addImage(imageData, 'PNG', 10, 10, 280, 0);
                doc.save('formoutput.pdf');

                context.clearRect(0, 0, canvas.width, canvas.height);
                var w = canvas.width;
                canvas.width = 1;
                canvas.width = w;
            },
        });
        //$(node).css('background', '#fff');
    }

    function download(){
        this.href = imageData;
    }

    jQuery(function($) {
        if(getRole() == 'system_admin' || getRole() == 'admin'){
            $('#limit_grid-data').bootstrapTable('showColumn', 'fromCache');
        } else {
            $('#limit_grid-data').bootstrapTable('hideColumn', 'fromCache');
        }
    });

</script>