<div class="page-header">
    <h1 id="individual_bill_details">
        Bill Details
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Provides Detail Information about individual user bills
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/individual_billing.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">Bill Details</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="bill-DETAIL"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
    // console.log(currentDataUrl);
    $.alpaca.Fields.Custom1Field = $.alpaca.Fields.TextField.extend({
        getFieldType: function() {
            return "isActive";
        },
        setValue: function(val) {
            var value = val.split(" ");
            if (value == '1') {
                this.base("Activated");
            } else {
                this.base("Deactivcated");
            }
        }
    });
    Alpaca.registerFieldClass("isActive", Alpaca.Fields.Custom1Field);

    $("#bill-DETAIL").alpaca({
        "dataSource": currentDataUrl,
        "schema": {
            "type": "object",
            "properties": {
                "nid_bill_id":{
                    "type": "string",
                },
                "user_name": {
                    "title": "User Name",
                    "type": "string"
                },
                "invoice_number": {
                    "title": "Invoice Number",
                    "type": "string"
                },
                "sub_total": {
                    "title": "Sub Total",
                    "type": "string",
                },
                "has_vat": {
                    "title": "VAT Status",
                    "type": "string",
                },
                "vat_status": {
                    "title": "Enable Cache",
                    "enum": ["1", "0"]
                },
                "vat": {
                    "title": "VAT",
                    "type": "string"
                },
                "grant_total": {
                    "title": "Grant Total",
                    "type": "string"
                },
            }
        },
        "options": {

            "fields": {
                "nid_bill_id": {
                    "id": "nid_bill_id",
                    "type": "hidden"
                },
                "user_name": {
                    "disabled": true
                },
                "invoice_number": {
                    "disabled": true
                },
                "sub_total": {
                    "helper": "Change app description"
                },
                "has_vat": {
                    "type": "isActive",
                    "helper": "The Status of VAT.. select option below to change status",
                    "disabled": true
                },
                "vat_status": {
                    "type": "select",
                    "optionLabels": ["Activate", "Deactivcate"],
                    "noneLabel": "-- Select --",
                    "removeDefaultNone": false,
                    "helper": "enable or disable VAT by selecting option",
                },
                "grant_total": {
                    "disabled": true
                },
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/individual_bill_details_edit",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(data){
                                if(data.status == "success"){
                                    gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                    load_view('/nid_app_management.html');
                                } else {
                                    gritter(data.status, data.message, false, '3500', 'gritter-error gritter-center');
                                }
                            }).fail(function(){
                                gritter("Error", "Sending Failed", false, '3500', 'gritter-error gritter-center');
                            });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>