<div class="page-header">
    <h1 id="individual_billing">
        Individual Billings
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Displays a list of Users to view their individual bills
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    This Users List only shows active and unblocked users
</p>

<table id="grid-data"></table>

<script>
    var curr_user_id = 20;
    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/allUserList",
        responseHandler: data_grid_response,
        method: 'POST',
        search: false,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 25,
        pageList: [25, 30, 40, 50, 60, 100],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'nid_user_id',
            title: 'ID'
        }, {
            field: 'user_name',
            title: 'User Name'
        },{
            field: 'user_email',
            title: 'User Email'
        }, {
            field: 'phone_no',
            title: 'Phone No'
        }, {
            field: 'created_at',
            title: 'Created At',
        }, {
            field: 'commands',
            title: 'Commands',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-view").on("click", function(e){
            load_view_n_data("/individual_bill_details.html","/pages/" + $(this).attr('uniqueId') + "/" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            delete_archive( $(this).attr('uniqueId'),function(data){
                $("#grid-data").bootstrapTable("refresh");
            }, 'pages' );
        });
    });


    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-view" uniqueId="'+ row.id +'"> <span class="fa fa-eye"></span> </button>';
    }

    function footeradddone(data){
        alert(data.message);
    }

</script>