<div class="page-header">
    <h1 id="maintanance_services">
        Maintanances Services
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-md-6">
        <div class="widget-box widget-color-default light-border">
            <div class="widget-header widget-header-small widget-header-flat">
                <span style="color:black">Check NID Services Status</span>
                <div class="widget-toolbar">
                    <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                    <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <p id="nid_service_check_div" class="alert">
                        <button id="nid_service_chk_btn" class="btn btn-white" onclick="nid_service_check();">Check NID Service Status</button>
                        <span id="nid_service_check_result" class="pull-right"></span>
                    </p>
                </div>  <!-- WIDGET MAIN -->

                <div class="widget-toolbox padding-8 clearfix">
                    <div class="row">
                        <div class="col-md-6">
                            <button id="nid_service_start" class="btn btn-success btn-block" onclick="nid_service_start();">Start Secvice</button>
                        </div>
                        <div class="col-md-6">
                            <button id="nid_service_stop" class="btn btn-danger btn-block" onclick="nid_service_stop();">Stop Secvice</button>
                        </div>
                    </div>
                </div>
            </div> <!-- WIDGET BODY -->
        </div>
    </div>

    <div class="col-md-6">
        <div class="widget-box widget-color-default light-border">
            <div class="widget-header widget-header-small widget-header-flat">
                <span style="color:black">Database Backup</span>
                <div class="widget-toolbar">
                    <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                    <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <button id="nid_service_db_back_btn" class="btn btn-info btn-block" onclick="nid_service_db_back();">Backup Database</button>
                    <ul id="myTree" class="tree tree-folder-select" role="tree" id="myTree">
                        <li class="tree-branch hide" data-template="treebranch" role="treeitem" aria-expanded="false">
                            <div class="tree-branch-header">
                                <button class="glyphicon icon-caret glyphicon-play"><span class="sr-only">Open</span></button>
                                <button class="tree-branch-name">
                                    <span class="glyphicon icon-folder glyphicon-folder-close"></span>
                                    <span class="tree-label"></span>
                                </button>
                            </div>
                            <ul class="tree-branch-children" role="group"></ul>
                            <div class="tree-loader" role="alert">Loading...</div>
                        </li>
                        <li class="tree-item hide" data-template="treeitem" role="treeitem">
                            <button class="tree-item-name">
                                <span class="glyphicon icon-item fueluxicon-bullet"></span>
                                <span class="tree-label"></span>
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="widget-toolbox padding-8 clearfix">
                    <a id="nid_service_db_back_download" href="" class="btn btn-xs btn-success pull-left hidden">
                        <i class="ace-icon fa fa-download"></i>
                        <span class="bigger-110">Download</span>
                    </a>
                </div>

            </div> <!-- WIDGET BODY -->
        </div>
    </div>
</div>

<script>
    var childNodesArray;

    function staticDataSource(openedParentData, callback) {
//        childNodesArray = [
//            { "name": "Ascending and Descending", "type": "folder" },
//            { "name": "Sky and Water I", "type": "item" },
//            { "name": "Drawing Hands", "type": "folder" },
//            { "name": "waterfall", "type": "item" },
//            { "name": "Belvedere", "type": "folder" },
//            { "name": "Relativity", "type": "item" },
//            { "name": "House of Stairs", "type": "folder" },
//            { "name": "Convex and Concave", "type": "item" }
//        ];

        callback({
            data: childNodesArray
        });
    }

    function nid_service_check(){
        requestGoApi_nid_server('/isalive/nid', 'GET', '', getAuthToken(), nid_service_success, nid_service_err);
    }

    function start_action(){
        $('#nid_service_check_div').removeClass('alert-danger');
        $('#nid_service_chk_btn').removeClass('btn-danger');
        $('#nid_service_chk_btn').removeClass('btn-white');

        $('#nid_service_check_div').addClass('alert-success');
        $('#nid_service_chk_btn').addClass('btn-success');
        $('#nid_service_check_result').html("NID Server is currently Online");
    }

    function stop_action(){
        $('#nid_service_check_div').removeClass('alert-success');
        $('#nid_service_chk_btn').removeClass('btn-success');
        $('#nid_service_chk_btn').removeClass('btn-white');

        $('#nid_service_check_div').addClass('alert-danger');
        $('#nid_service_chk_btn').addClass('btn-danger');
        $('#nid_service_check_result').html("NID Server is currently Offline");
    }

    function db_back_action(){
        $('#nid_service_db_back_btn').removeClass('btn-info');
        $('#nid_service_db_back_btn').addClass('btn-success');
        $('#nid_service_db_back_btn').html('Click To Download Backup');
    }

    function nid_service_success(data){
        if(data.status == 'success'){
            start_action();
        } else {
            stop_action();
        }
    }

    function pyserver_start_success(data){
        if(data.isSuccess){
            gritter("Server Started", '', false, '1500', 'gritter-success');
            start_action();
        }
    }

    function pyserver_start_err(data){

    }

    function pyserver_stop_success(data){
        if(data.isSuccess){
            gritter("Server Stopped", '', false, '1500', 'gritter-error');
            stop_action();
        }
    }

    function pyserver_stop_err(data){

    }

    function nid_service_start(){
        requestGoApi('/pyserver/start', 'GET', '', getAuthToken(), pyserver_start_success, pyserver_start_err, false);
    }

    function nid_service_stop(){
        requestGoApi('/pyserver/stop', 'GET', '', getAuthToken(), pyserver_stop_success, pyserver_stop_err, false)
    }

    function nid_service_err(data){
        gritter("Server is currently Stopped", '', false, '1500', 'gritter-error');
        stop_action();
    }

    function db_back_success(data){
        if(data.isSuccess){
            gritter("Success", 'Database backup complete', false, '1500', 'gritter-success, gritter-center');
//            db_back_action();
        } else {
            gritter("Database backup error", '', false, '1500', 'gritter-error');
        }
    }

    function db_back_err(data){
        gritter("Server is currently Offline", '', false, '1500', 'gritter-error');
    }

    function nid_service_db_back(){
        requestGoApi('/db/backup', 'GET', '', getAuthToken(), db_back_success, db_back_err, false);
    }

    function callback(data){
        childNodesArray = data;
        $('#myTree').tree({
            dataSource: staticDataSource,
            multiSelect: false,
            folderSelect: false
        });
        $('#myTree').on('deselected.fu.tree selected.fu.tree', function(event) {
            var download_path = JSON.parse(JSON.stringify($('#myTree').tree('selectedItems')) )[0].path;
            var download_name = JSON.parse(JSON.stringify($('#myTree').tree('selectedItems')) )[0].name;
            $('#nid_service_db_back_download').removeClass('hidden');
            $('#nid_service_db_back_download').attr('href', download_path);
            $('#nid_service_db_back_download').attr('download', download_name);
        });
    }

    $(function() {
        requestApi('/db_back_file_data', 'GET', '', callback);
    });
</script>