<div class="page-header">
    <h1 id="user_new">
        NID App New
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create new NID application
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/nid_app_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">NID app registration Form</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="nid_app-NEW"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
// console.log(currentDataUrl);
    $("#nid_app-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "appName": {
                    "title": "Application Name",
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 3,
                    "required": true,
                },
                "domain": {
                    "title": "Application Domain",
                    "type": "string",
                    "required": true,
                },
                "description": {
                    "title": "Application Description",
                    "type": "string"
                },
//                "apiRequestLimit": {
//                    "title": "Application Request Limit",
//                },
                "timeLimit": {
                    "title": "Time Limit",
                    "maximum": 700,
                    "required": true,
                },
                "nidNameEn": {
                    "title": "NID Name English",
                    "type": "string"
                },
                "nidNameBn": {
                    "title": "NID Name Bangla",
                    "type": "string"
                },
                "nidNo": {
                    "title": "NID Number",
                    "type": "string"
                },
                "nidFathersName": {
                    "title": "NID Father's Name",
                    "type": "string"
                },
                "nidMothersName": {
                    "title": "NID Mother's Name",
                    "type": "string"
                },
                "nidDateofBirth": {
                    "title": "NID Date of Birth",
                    "type": "string"
                },
                "nidAddress": {
                    "title": "NID Address",
                    "type": "string"
                },
                "nidImage": {
                    "title": "NID Image",
                    "type": "string"
                },
//                "nidFingerImage": {
//                    "title": "NID Finger Image",
//                    "type": "string"
//                },
//                "nidLeftEye": {
//                    "title": "NID Left Eye",
//                    "type": "string"
//                },
//                "nidRightEye": {
//                    "title": "NID Right Eye",
//                    "type": "string"
//                },
                "serviceRefDate": {
                    "title": "Service Refference Data",
                    "type": "string"
                },
                "occupation": {
                    "title": "Occupation",
                    "type": "string"
                },
                "permanentAddress": {
                    "title": "Permanent Address",
                    "type": "string"
                },
                "bloodGroup": {
                    "title": "Blood Group",
                    "type": "string"
                },
            }
        },
        "options": {

            "fields": {
                "appName": {
                    "id": "appName",
                    "helper": "Change app name"
                },
                "domain": {
                    "id": "domain",
                    "helper": "Change app domain"
                },
                "description": {
                    "id": "description",
                    "type": "textarea",
                    "helper": "Change app description"
                },
//                "apiRequestLimit": {
//                    "id": "apiRequestLimit",
//                    "type": "number",
//                    "helper": "change app request limit",
//                },
                "timeLimit": {
                    "id": "timeLimit",
                    "type": "number",
                    "helper": "Enter Timelimit in scale of days. More than 2 years (700 days) is invalid",
                },
                "nidNameEn": {
                    "id": "nidNameEn",
                    "type": "checkbox",
                    "helper": "select to enable NID name English",
                },
                "nidNameBn": {
                    "id": "nidNameBn",
                    "type": "checkbox",
                    "helper": "select to enable NID name Bangla",
                },
                "nidNo": {
                    "id": "nidNo",
                    "type": "checkbox",
                    "helper": "select to enable NID Number",
                },
                "nidFathersName": {
                    "id": "nidFathersName",
                    "type": "checkbox",
                    "helper": "select to enable NID Father's name",
                },
                "nidMothersName": {
                    "id": "nidMothersName",
                    "type": "checkbox",
                    "helper": "select to enable NID Mother's name",
                },
                "nidDateofBirth": {
                    "id": "nidDateofBirth",
                    "type": "checkbox",
                    "helper": "select to enable NID Date of Birth",
                },
                "nidAddress": {
                    "id": "nidAddress",
                    "type": "checkbox",
                    "helper": "select to enable NID Address",
                },
                "nidImage": {
                    "id": "nidImage",
                    "type": "checkbox",
                    "helper": "select to enable NID Image",
                },
//                "nidFingerImage": {
//                    "id": "nidFingerImage",
//                    "type": "checkbox",
//                    "helper": "select to enable NID Finger Image",
//                },
//                "nidLeftEye": {
//                    "id": "nidLeftEye",
//                    "type": "checkbox",
//                    "helper": "select to enable NID Left Eye",
//                },
//                "nidRightEye": {
//                    "id": "nidRightEye",
//                    "type": "checkbox",
//                    "helper": "select to enable NID Right Eye",
//                },
                "serviceRefDate": {
                    "id": "serviceRefDate",
                    "type": "checkbox",
                    "helper": "select to enable service Refference Date",
                },
                "occupation": {
                    "id": "occupation",
                    "type": "checkbox",
                    "helper": "select to enable Occupation",
                },
                "permanentAddress": {
                    "id": "permanentAddress",
                    "type": "checkbox",
                    "helper": "select to enable Permanent Address",
                },
                "bloodGroup": {
                    "id": "bloodGroup",
                    "type": "checkbox",
                    "helper": "select to enable Blood Group",
                },
            },
            "form": {
                "attributes": {
                    "action": API_SERVER_ADDR + "/create/app",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.data = JSON.stringify(value);
                            requestGoApi('/create/app', 'POST', config.data, getAuthToken(), app_create_response, app_create_response_err, false);
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });

    function app_create_response(data){
        if(data.isSuccess){
            gritter("Success", "Application Registration Request Sent", false, '1500', 'gritter-success gritter-center');
            load_view('/nid_app_management.html');
        } else {
            gritter("Failed", "Application Registration Failed", false, '3500', 'gritter-error gritter-center');
        }
    }

    function app_create_response_err(data){

    }
</script>