<meta charset="UTF-8">

<div class="page-header">
    <h1 id="nid_app_management">
        NID Application Management
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create or Delete / Manage NID Applications
        </small>
    </h1>
</div><!-- /.page-header -->

<p id="nid_app_create_div" class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/nid_app_new.html')">Request New Application</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color: black">Existing NID Application List</span>
        <div class="widget-toolbar">
            <a id="grid_refresh" data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <!--<a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>-->
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="grid-data"></table>
            <table id="dev_app_list-grid-data"></table>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<script>

    var search_history = new Array;

    $('#grid_refresh').click(function(e){
//        if( $.trim($('div.search input').val()) != '' ){
//            search_history.push($.trim($('div.search input').val()));
//            $('div.search input').val('');
//        } else {
//            gritter("Done!", "Your Search is already cleared!!", false, '1000', 'gritter-success');
//        }
        $('#grid-data').bootstrapTable('resetSearch');
        $('#dev_app_list-grid-data').bootstrapTable('resetSearch');
    });

    switch (getRole()){
        case 'system_admin' :
            $('#nid_app_create_div').addClass('hide');
            $('#dev_app_list-grid-data').addClass('hide');
            $('#grid-data').removeClass('hide');
            initSystemAdminGrid();
            break;
        case 'admin':
            $('#nid_app_create_div').addClass('hide');
            $('#dev_app_list-grid-data').addClass('hide');
            $('#grid-data').removeClass('hide');
            initSystemAdminGrid();
            break;
        case 'developer':
            $('#nid_app_create_div').removeClass('hide');
            $('#dev_app_list-grid-data').removeClass('hide');
            $('#grid-data').addClass('hide');
            initdeveloperGrid();
            break;
    }

    function btgDridRequest_nidapp(params){
//        console.log(params);
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;

        var search = (params.data.search == undefined) ? '' : params.data.search;

        requestGoApi('/app?order='+order+'&offset='+offset+'&limit='+limit+'&search='+search, 'GET', '', getAuthToken() , function(data){
            var jsonData = data;
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }

    function initSystemAdminGrid(){
        var grid = $('#grid-data').bootstrapTable({
            ajax: btgDridRequest_nidapp,
            responseHandler: data_grid_response,
            detailView: true,
            detailFormatter: productdetailformatter,
            search: true,
            searchOnEnterKey: true,
            pagination: true,
            sidePagination: 'server',
            pageSize: 5,
            pageList: [5, 10],
            showRefresh: false,
            showColumns: false,
            buttonsClass: 'info',
            columns: [{
                field: 'appName',
                title: 'Application Name'
            }, {
                field: 'developer_name',
                title: 'Developer Name'
            }, {
                field: 'isActive',
                title: 'Activation Status',
                cellStyle: activeStatusCellstyle,
                formatter: activeStatusFormatter,
            }, {
                field: 'enableCache',
                title: 'Cache Status',
                cellStyle: cacheStatusCellstyle,
                formatter: cacheStatusFormatter,
            }, {
                field: 'nidAddress',
                title: 'Address',
                cellStyle: nidAddressStatusCellstyle,
                formatter: nidAddressStatusFormatter,
            }, {
                field: 'nidDateOfBirth',
                title: 'Date Of Birth',
                cellStyle: nidDateOfBirthStatusCellstyle,
                formatter: nidDateOfBirthStatusFormatter,
            }, {
                field: 'nidFathersName',
                title: 'Fathers Name',
                cellStyle: nidFathersNameStatusCellstyle,
                formatter: nidFathersNameStatusFormatter,
            }, {
                field: 'nidMothersName',
                title: 'Mothers Name',
                cellStyle: nidMothersNameStatusCellstyle,
                formatter: nidMothersNameStatusFormatter,
            }, {
                field: 'occupation',
                title: 'Occupation',
                cellStyle: nidOccupationStatusCellstyle,
                formatter: nidOccupationStatusFormatter,
            }, {
                field: 'nidImage',
                title: 'Image',
                cellStyle: nidImageStatusCellstyle,
                formatter: nidImageStatusFormatter,
            }, {
                field: 'serviceRefDate',
                title: 'Refference',
                cellStyle: nidrefferenceStatusCellstyle,
                formatter: nidrefferenceStatusFormatter,
            }, {
                field: 'bloodGroup',
                title: 'Blood Group',
                cellStyle: nidBloodStatusCellstyle,
                formatter: nidBloodStatusFormatter,
            }, {
                field: 'commands',
                title: 'Commands',
                formatter: commandFormatter,
                searchable: false
            }]
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function(e){
                load_view_n_data("/nid_app_edit.html","/single/app?id=" + $(this).attr('uniqueId') + "&rand=" + randomGenarator());

            }).end().find(".command-delete").on("click", function(e){
                var deleteAppId = $(this).attr('uniqueId');
                bootbox.confirm("Are you sure to delete this user?", function(result) {
                    if(result) {
                        requestGoApi(API_SERVER_ADDR + "/delete/app?id="+ deleteAppId, 'POST', '', getAuthToken(), app_delete_response, app_delete_response_err, true);
                    }
                });
            });
        });
    }

    function app_delete_response(data){
        gritter("Success", "Successfull Deleted the application", false, '1500', 'gritter-success gritter-center');
        $("#user_grid-data").bootstrapTable("refresh");
//        gritter("Failed", "User deletion failed", false, '3000', 'gritter-error gritter-center');
    }

    function app_delete_response_err(data){

    }

    function commandFormatter(value, row, index) {
        return '<div class="btn-group btn-overlap btn-corner">' +
                '<label class="btn btn-sm btn-white btn-info">' +
                '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
                '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>' +
                '</label>' +
                '</div>';
    }

    function cacheStatusFormatter(value, row, index){
        if (value == true) {
            return "Cached";
        } else {
            return "Cache Off";
        }
    }
    function cacheStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function activeStatusFormatter(value, row, index){
        if (value) {
            return "Activated";
        } else {
            return "De-activated";
        }
    }
    function activeStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidAddressStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidAddressStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidDateOfBirthStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidDateOfBirthStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidFathersNameStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidFathersNameStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidMothersNameStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidMothersNameStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidOccupationStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidOccupationStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidImageStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidImageStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidrefferenceStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidrefferenceStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidBloodStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidBloodStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidNameBnStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidNameBnStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidNameEnStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidNameEnStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function nidNoStatusFormatter(value, row, index){
        if (value) {
            return "Yes";
        } else {
            return "No";
        }
    }
    function nidNoStatusCellstyle(value, row, index, field){
        if (value) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function productdetailformatter(value, row, index){
        var html = [];
        $.each(row, function (key, value) {
            switch (getRole()){
                case 'developer':
                    if (key == 'token') {
                        html.push(  '<p class="alert alert-default">' +
                            '<b>'+key.substr(0,1).toUpperCase()+key.substr(1)+'</b>' +
                            '<span style="margin-left: 20px">'+value+'</span>' +
                            '</p>');
                    }
                    break;
            }

            if (key == 'description') {
                html.push(  '<p class="alert alert-default">' +
                        '<b>'+key.substr(0,1).toUpperCase()+key.substr(1)+'</b>' +
                        '</p>' +
                        '<p>' +
                        value +
                        '</p>')
                // html.push('<p><b>' + key.substr(0,1).toUpperCase()+key.substr(1) + '</b></p> <p');
            }
        });
        return html.join('');
    }

    function btgDridRequest_nidapp_dev(params){
//        console.log(params);
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;

        var search = (params.data.search == undefined) ? '' : params.data.search;

        requestGoApi('/app?order='+order+'&offset='+offset+'&limit='+limit+'&search='+search, 'GET', '', getAuthToken() , function(data){
            var jsonData = data;
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }

    function app_delete_response_dev(data){
        gritter("Success", "Successfull Deleted the application", false, '1500', 'gritter-success gritter-center');
        $("#user_grid-data").bootstrapTable("refresh");
//        gritter("Failed", "User deletion failed", false, '3000', 'gritter-error gritter-center');
    }

    function initdeveloperGrid(){
        var grid = $('#dev_app_list-grid-data').bootstrapTable({
            ajax: btgDridRequest_nidapp_dev,
            responseHandler: data_grid_response,
            detailView: true,
            detailFormatter: nidappDevdetailformatter,
            search: true,
            searchOnEnterKey: true,
            pagination: true,
            sidePagination: 'server',
            pageSize: 5,
            pageList: [5, 10],
            showRefresh: true,
            showColumns: false,
            buttonsClass: 'info',
            columns: [{
                field: 'appName',
                title: 'Application Name'
            }, {
                field: 'isActive',
                title: 'Activation Status',
                cellStyle: activeStatusCellstyle,
                formatter: activeStatusFormatter,
            }, {
                field: 'enableCache',
                title: 'Cache Status',
                cellStyle: cacheStatusCellstyle,
                formatter: cacheStatusFormatter,
            }, {
                field: 'apiRequestLimit',
                title: 'API Limit',
            }, {
                field: 'nidAddress',
                title: 'Address',
                cellStyle: nidAddressStatusCellstyle,
                formatter: nidAddressStatusFormatter,
            }, {
                field: 'nidDateOfBirth',
                title: 'Date Of Birth',
                cellStyle: nidDateOfBirthStatusCellstyle,
                formatter: nidDateOfBirthStatusFormatter,
            }, {
                field: 'nidFathersName',
                title: 'Fathers Name',
                cellStyle: nidFathersNameStatusCellstyle,
                formatter: nidFathersNameStatusFormatter,
            }, {
                field: 'nidMothersName',
                title: 'Mothers Name',
                cellStyle: nidMothersNameStatusCellstyle,
                formatter: nidMothersNameStatusFormatter,
            }, {
                field: 'occupation',
                title: 'Occupation',
                cellStyle: nidOccupationStatusCellstyle,
                formatter: nidOccupationStatusFormatter,
            }, {
                field: 'nidImage',
                title: 'Image',
                cellStyle: nidImageStatusCellstyle,
                formatter: nidImageStatusFormatter,
            }, {
                field: 'serviceRefDate',
                title: 'Refference',
                cellStyle: nidrefferenceStatusCellstyle,
                formatter: nidrefferenceStatusFormatter,
            }, {
                field: 'bloodGroup',
                title: 'Blood Group',
                cellStyle: nidBloodStatusCellstyle,
                formatter: nidBloodStatusFormatter,
            },
            {
                field: 'commands',
                title: 'Distribute',
                formatter: commandFormatter_dev,
                searchable: false
            }
                ]
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function(e){
                load_view_n_data_single("/nid_limit_distro_dev.html",$(this).attr('uniqueId'), $(this).attr('uniqueApiRequestLimit'));

            });
//                    .end().find(".command-delete").on("click", function(e){
//                var deleteAppId = $(this).attr('uniqueId');
//                bootbox.confirm("Are you sure to delete this Application?", function(result) {
//                    if(result) {
//                        requestGoApi(API_SERVER_ADDR + "/delete/app?id="+ deleteAppId, 'POST', '', getAuthToken(), app_delete_response_dev, true);
//                    }
//                });
//            });
        });
    }

    function nidappDevdetailformatter(value, row, index){
        var html = [];
        $.each(row, function (key, value) {
            if (key == 'token') {
                html.push(  '<p class="alert alert-default">' +
                                '<b>'+key.substr(0,1).toUpperCase()+key.substr(1)+'</b>' +
                                '<span style="margin-left: 20px">'+value+'</span>' +
                            '</p>');
                // html.push('<p><b>' + key.substr(0,1).toUpperCase()+key.substr(1) + '</b></p> <p');
            }
            if (key == 'description') {
                html.push(  '<p class="alert alert-default">' +
                        '<b>'+key.substr(0,1).toUpperCase()+key.substr(1)+'</b>' +
                        '</p>' +
                        '<p>' +
                        value +
                        '</p>');
                // html.push('<p><b>' + key.substr(0,1).toUpperCase()+key.substr(1) + '</b></p> <p');
            }
        });
        return html.join('');
    }

    function commandFormatter_dev(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueApiRequestLimit="'+row.apiRequestLimit+'" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>';
    }

</script>