<div class="page-header">
    <h1 id="nid_app_edit">
        NID App Edit
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Edit NID Application details
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/nid_app_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">NID app Edit Form</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="nid_app-EDIT"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
    // console.log(currentDataUrl);
    $.alpaca.Fields.Custom1Field = $.alpaca.Fields.TextField.extend({
        getFieldType: function() {
            return "isActive";
        },
        setValue: function(val) {
            var value = val.split(" ");
            if (value == '1') {
                this.base("Activated");    
            } else {
                this.base("Deactivcated");
            }
        }
    });
    Alpaca.registerFieldClass("isActive", Alpaca.Fields.Custom1Field);

    $("#nid_app-EDIT").alpaca({
//        "dataSource": currentDataUrl,
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string",
                },
                "userId": {
                    "type": "string"
                },
                "appName": {
                    "title": "Application Name",
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 3,
                },
                "domain": {
                    "title": "Application Domain",
                    "type": "string",
                },
                "description": {
                    "title": "Application Description",
                    "type": "string",
                },
//                "apiRequestLimit": {
//                    "title": "Application Request Limit",
//                    "maxLength": 10,
//                },
                "timeLimit": {
                    "title": "Time Limit",
                    "maximum": 700,
                },
                "token": {
                    "title": "Application Token",
                    "type": "string",
                    "maxLength": 10,
                    "minLength": 3,
                },
                "current_active_status": {
                    "title": "Current Activation Status",
                    "type": "string",
                },
                "isActiveChange": {
                    "title": "Activate ?",
                    "type": "string"
                },
                "current_cache_status": {
                    "title": "Current Cache Status",
                    "type": "string",
                },
                "isCacheChange": {
                    "title": "Enable Cache ?",
                    "type": "string",
                },
                "nidNameEn": {
                    "title": "NID Name English",
                    "type": "string"
                },
                "nidNameBn": {
                    "title": "NID Name Bangla",
                    "type": "string"
                },
                "nidNo": {
                    "title": "NID Number",
                    "type": "string"
                },
                "nidFathersName": {
                    "title": "NID Father's Name",
                    "type": "string"
                },
                "nidMothersName": {
                    "title": "NID Mother's Name",
                    "type": "string"
                },
                "nidDateofBirth": {
                    "title": "NID Date of Birth",
                    "type": "string"
                },
                "nidAddress": {
                    "title": "NID Address",
                    "type": "string"
                },
                "nidImage": {
                    "title": "NID Image",
                    "type": "string"
                },
//                "nidFingerImage": {
//                    "title": "NID Finger Image",
//                    "type": "string"
//                },
//                "nidLeftEye": {
//                    "title": "NID Left Eye",
//                    "type": "string"
//                },
//                "nidRightEye": {
//                    "title": "NID Right Eye",
//                    "type": "string"
//                },
                "serviceRefDate": {
                    "title": "Service Refference Data",
                    "type": "string"
                },
                "occupation": {
                    "title": "Occupation",
                    "type": "string"
                },
                "permanentAddress": {
                    "title": "Permanent Address",
                    "type": "string"
                },
                "bloodGroup": {
                    "title": "Blood Group",
                    "type": "string"
                },
            }
        },
        "postRender": function(){
            load_data();
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "userId": {
                    "id": "userId",
                    "type": "hidden"
                },
                "appName": {
                    "id": "appName",
                    "helper": "Change app name"
                },
                "domain": {
                    "id": "domain",
                    "helper": "Change app domain"
                },
                "description": {
                    "id": "description",
                    "type": "textarea",
                    "helper": "Change app description"
                },
//                "apiRequestLimit": {
//                    "id": "apiRequestLimit",
//                    "type": "number",
//                    "helper": "change app request limit",
//                },
                "timeLimit": {
                    "id": "timeLimit",
                    "type": "number",
                    "helper": "select to enable Time Limit",
                },
                "token": {
                    "id": "token",
                    "type": "hidden"
                },
                "current_active_status": {
                    "id": "current_active_status",
                    "disabled": true,
                },
                "isActiveChange": {
                    "id": "isActiveChange",
                    "type": "checkbox",
                    "helper": "Check to activate or leave to deactivate",
                },
                "current_cache_status": {
                    "id": "current_cache_status",
                    "disabled": true,
                },
                "isCacheChange": {
                    "id": "isCacheChange",
                    "type": "checkbox",
                    "helper": "Check to enable or leave to disable",
                },
                "nidNameEn": {
                    "id": "nidNameEn",
                    "type": "checkbox",
                    "helper": "select to enable NID name English",
                },
                "nidNameBn": {
                    "id": "nidNameBn",
                    "type": "checkbox",
                    "helper": "select to enable NID name Bangla",
                },
                "nidNo": {
                    "id": "nidNo",
                    "type": "checkbox",
                    "helper": "select to enable NID Number",
                },
                "nidFathersName": {
                    "id": "nidFathersName",
                    "type": "checkbox",
                    "helper": "select to enable NID Father's name",
                },
                "nidMothersName": {
                    "id": "nidMothersName",
                    "type": "checkbox",
                    "helper": "select to enable NID Mother's name",
                },
                "nidDateofBirth": {
                    "id": "nidDateofBirth",
                    "type": "checkbox",
                    "helper": "select to enable NID Date of Birth",
                },
                "nidAddress": {
                    "id": "nidAddress",
                    "type": "checkbox",
                    "helper": "select to enable NID Address",
                },
                "nidImage": {
                    "id": "nidImage",
                    "type": "checkbox",
                    "helper": "select to enable NID Image",
                },
//                "nidFingerImage": {
//                    "id": "nidFingerImage",
//                    "type": "checkbox",
//                    "helper": "select to enable NID Finger Image",
//                },
//                "nidLeftEye": {
//                    "id": "nidLeftEye",
//                    "type": "checkbox",
//                    "helper": "select to enable NID Left Eye",
//                },
//                "nidRightEye": {
//                    "id": "nidRightEye",
//                    "type": "checkbox",
//                    "helper": "select to enable NID Right Eye",
//                },
                "serviceRefDate": {
                    "id": "serviceRefDate",
                    "type": "checkbox",
                    "helper": "select to enable service Refference Date",
                },
                "occupation": {
                    "id": "occupation",
                    "type": "checkbox",
                    "helper": "select to enable Occupation",
                },
                "permanentAddress": {
                    "id": "permanentAddress",
                    "type": "checkbox",
                    "helper": "select to enable Permanent Address",
                },
                "bloodGroup": {
                    "id": "bloodGroup",
                    "type": "checkbox",
                    "helper": "select to enable Blood Group",
                },
            },
            "form": {
                "attributes": {
                    "action": API_SERVER_ADDR + "/update/app",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.data = JSON.stringify(value);
                            requestGoApi('/update/app', 'POST', config.data, getAuthToken(), app_update_response, app_update_response_err, false);
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });

    function app_update_response(data){
        if(data.isSuccess){
            gritter("Success", "Application Database Updated", false, '1500', 'gritter-success gritter-center');
            load_view('/nid_app_management.html');
        } else {
            gritter("Failed", "Application update failed", false, '3500', 'gritter-error gritter-center');
        }
    }

    function app_update_response_err(data){

    }

    function app_edit_response(data){
        if(data){
            $('#id').val($.trim(data.id));
            $('#userId').val($.trim(data.userId));
            $('#appName').val($.trim(data.appName));
            $('#domain').val($.trim(data.domain));
            $('#description').val(data.description);

            $('#apiRequestLimit').val($.trim(data.apiRequestLimit));
            $('#timeLimit').val($.trim(data.timeLimit));
            $('#token').val($.trim(data.token));

            var actsts = (data.isActive == true) ? 'Activated' : 'De-activated';
            var cachsts = (data.enableCache == true) ? 'Enabled' : 'Disabled';
            $('#current_active_status').val(actsts);
            $('#current_cache_status').val(cachsts);
            $('[name="isActiveChange"]').prop("checked", data.isActive);
            $('[name="isCacheChange"]').prop("checked", data.enableCache);

            $('[name="nidNameEn"]').prop("checked", data.nidNameEn);
            $('[name="nidNameBn"]').prop("checked", data.nidNameBn);
            $('[name="nidNo"]').prop("checked", data.nidNo);
            $('[name="nidFathersName"]').prop("checked", data.nidFathersName);
            $('[name="nidMothersName"]').prop("checked", data.nidMothersName);
            $('[name="nidDateofBirth"]').prop("checked", data.nidDateOfBirth);
            $('[name="nidAddress"]').prop("checked", data.nidAddress);
            $('[name="nidImage"]').prop("checked", data.nidImage);
//            $('[name="nidFingerImage"]').prop("checked", data.nidFingerImage);
//            $('[name="nidLeftEye"]').prop("checked", data.nidLeftEye);
//            $('[name="nidRightEye"]').prop("checked", data.nidRightEye);
            $('[name="serviceRefDate"]').prop("checked", data.serviceRefDate);
            $('[name="occupation"]').prop("checked", data.occupation);
            $('[name="permanentAddress"]').prop("checked", data.permanentAddress);
            $('[name="bloodGroup"]').prop("checked", data.bloodGroup);
        }
    }

    function app_edit_response_err(data){

    }

    function load_data(){
        requestGoApi(currentDataUrl, "GET", '', getAuthToken(), app_edit_response, app_edit_response_err, true);
    }
</script>