<div class="page-header">
    <h1 id="admin_new">
        Limit Distribution Form
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Distribute Limit among NID applications
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/nid_app_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">NID Limit Distribute</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="user-NEW"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<script>
     console.log(currentDataUrl);
     console.log(extraDataUrl);
    $("#user-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string"
                },
                "apiRequestLimit": {
                    "title": "Assign API Request Limit",

                    "required": true
                }
            }
        },
        "postRender": function(){
            $('#id').val(currentDataUrl);
            $('#apiRequestLimit').val(extraDataUrl);
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "apiRequestLimit": {
                    "id": "apiRequestLimit",
                    "required": true,
                    "maxLength": 100,
                    "type": "number",
                    "minLength": 3,
//                    "validator": function(callback) {
//                        var reqLimit = $.trim(this.getValue());
//                        requestGoApi("/check/username?name="+nameValue, 'GET', '', getAuthToken(), function(data){
////                            callback({
////                                "status": false,
////                                "message": "The username <strong>"+nameValue+"</strong> is already taken"
////                            });
//                        }, function(data){
//                            gritter("Server Error", "Administrator server is currently offline", false, '3500', 'gritter-error');
//                        }, false);
//                    },
                    "helper": "Enter Api Request Limit for this app",
                },
            },
            "form": {
                "attributes": {
                    "action": API_SERVER_ADDR + "/create/user",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.data = JSON.stringify(value);
                            console.log(config.data);
                            requestGoApi('/app/limit/update', 'POST', config.data, getAuthToken(), user_create_response, user_create_response_err, false);
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });

    function user_create_response(data){
        if(data.isSuccess){
            gritter("Success", "Successfully Updated Api Request Limit", false, '1500', 'gritter-success');
            load_view('/nid_app_management.html');
        } else {
            gritter("Failed", "Request Limit Update Failed", false, '3000', 'gritter-error');
        }
    }

    function user_create_response_err(data){
        gritter("Server Error", "server is offline", false, '3000', 'gritter-error');
    }
</script>