<div class="page-header">
    <h1 id="nid_search">
        NID Search
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Search NID Database with NID number and date of birth
        </small>
        <small id="data_source_msg" class="pull-right"></small>
    </h1>
</div><!-- /.page-header -->

<!--<p class="alert alert-success">-->
    <!--<button class="btn btn-success" onclick="load_view('/nid_app_management.html')">Back</button>-->
<!--</p>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="widget-box widget-color-default light-border">
                <div class="widget-header widget-header-small widget-header-flat">
                    <span style="color:black">NID Search Panel</span>
                    <div class="widget-toolbar">
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="nid-search"></div>
                    </div>  <!-- WIDGET MAIN -->
                </div> <!-- WIDGET BODY -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget-box widget-color-default light-border">
                <div class="widget-header widget-header-small widget-header-flat">
                    <span style="color:black">NID Search Result</span>
                    <div class="widget-toolbar">
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="nid-search_result"></div>
                    </div>  <!-- WIDGET MAIN -->
                </div> <!-- WIDGET BODY -->
            </div>
        </div>
    </div>
</div>


<script>
    // console.log(currentDataUrl);
    var search_result_data;
    var now = new Date();

    $("#nid-search").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "idNo": {
                    "title": "NID Number",
                    "type": "string",
                    "maxLength": 17,
                    "required": true,
                },
                "dateOfBirth": {
                    "title": "Date of Birth",
                    "type": "string",
                    "required": false,
                }
            }
        },
        "postRender": function(control) {
            $("#dateOfBirth").datetimepicker({
                format: "yyyy/mm/dd",
                minView : 2,
                autoclose: true,
                todayBtn: true,
                pickerPosition: "bottom"
            });
        },
        "options": {

            "fields": {
                "idNo": {
                    "id": "idNo",
                    "disallowEmptySpaces": true,
                    "validator": function(callback) {
                        var nid = $.trim(this.getValue());
                        if(nid.length == 17 || nid.length == 13){
                            callback({
                                "status": true,
                            });
                        } else {
                            callback({
                                "status": false,
                                "message": "NID Number Must be either 17 or 13 character long"
                            });
                        }
                    },
                    "helper": "Enter NID Number."
                },
                "dateOfBirth": {
                    "id": "dateOfBirth",
                    "disallowEmptySpaces": true,
                    "helper": "Enter Date of Birth"
                }
            },
            "form": {
                "attributes": {
                    "action": API_SERVER_ADDR + "/create/app",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.data = JSON.stringify(value);
                            requestGoApi('/nidgateway', 'POST', config.data, '523d0b21-25f3-424e-88a8-74066c6af755', nid_search_response, nid_search_response_err, false);
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });

    function nid_search_response(data){
        if(data){
            if(data.status){
                if(data.status == "failed"){
                    gritter(data.status, data.result, false, '1500', 'gritter-error');
                } else {
                    gritter("Data Fetch Success", "", false, '1500', 'gritter-success, gritter-center');
                    search_result_data = data;
                    if(data.fromCache){
                        $('#data_source_msg').html("Requested Profile has successfully Loaded from the Cache Server");
                    } else {
                        $('#data_source_msg').html("Requested Profile has successfully loaded from the NID Server");
                    }
                    $("#nid-search_result").alpaca("destroy");
                    search_result();
                }
            } else {
                gritter("Data Fetch Success", "", false, '1500', 'gritter-success, gritter-center');
                search_result_data = data;
                if(data.fromCache){
                    $('#data_source_msg').html("Requested Profile has successfully Loaded from the Cache Server");
                } else {
                    $('#data_source_msg').html("Requested Profile has successfully loaded from the NID Server");
                    gritter("NID Server Data", "Your Requested Profile has successfully loaded from the NID Server", false, '1500', 'gritter-success');
                }
                $("#nid-search_result").alpaca("destroy");
                search_result();
            }

        } else {
            gritter("Failed", "Your Requested Profile fatching Error", false, '3500', 'gritter-error, gritter-center');
            $("#nid-search_result").alpaca("destroy");
        }
    }

    function nid_search_response_err(data){
        console.log(data);
        if(data.status == 0){
            gritter("SERVER OFFLINE", 'NID Server is currently offline', true, '3500', 'gritter-error');
        } else {
            gritter("Error", data.statusText, false, '3500', 'gritter-error');
        }
    }

    function search_result(){
        $("#nid-search_result").alpaca({
            "schema": {
                "type": "object",
                "properties": {
                    "image_view": {
                        "type": "string"
                    },
                    "nameBn": {
                        "title": "Name (Bangla)",
                        "type": "string",
                    },
                    "nameEn": {
                        "title": "Name (English)",
                        "type": "string",
                    },
                    "fatherBn": {
                        "title": "Father's Name",
                        "type": "string",
                    },
                    "motherBn": {
                        "title": "Mother's Name",
                        "type": "string",
                    },
                    "occupation": {
                        "title": "Occupation",
                        "type": "string",
                    },
                    "dateOfBirthR": {
                        "title": "Date Of Birth",
                        "type": "string",
                    },
                    "idNoR": {
                        "title": "ID No",
                        "type": "string",
                    },
                    "presentAddress": {
                        "title": "Present Address",
                        "type": "string",
                    },
                    "permanentAddress": {
                        "title": "Permanent Address",
                        "type": "string",
                    },
                    "bloodGroup": {
                        "title": "Blood Group",
                        "type": "string",
                    },
                }
            },
            "postRender": function(control) {
                load_data();
            },
            "options": {
                "fields": {
                    "image_view": {
                        "id": "avatar",
                        "label": "Nid Image",
                        "type": "image",
                        "view": "bootstrap-display",
                        "helper": "Can not edit or delete image"
                    },
                    "nameBn": {
                        "id": "nameBn",
                        "disabled": true,
                    },
                    "nameEn": {
                        "id": "nameEn",
                        "disabled": true,
                    },
                    "fatherBn": {
                        "id": "fatherBn",
                        "disabled": true,
                    },
                    "motherBn": {
                        "id": "motherBn",
                        "disabled": true,
                    },
                    "occupation": {
                        "id": "occupation",
                        "disabled": true,
                    },
                    "dateOfBirthR": {
                        "id": "dateOfBirthR",
                        "disabled": true,
                    },
                    "idNoR": {
                        "id": "idNoR",
                        "disabled": true,
                    },
                    "presentAddress": {
                        "id": "presentAddress",
                        "disabled": true,
                    },
                    "permanentAddress": {
                        "id": "permanentAddress",
                        "disabled": true,
                    },
                    "bloodGroup": {
                        "id": "bloodGroup",
                        "disabled": true,
                    },
                }
            }
        });
    }

    function load_data(){
        if(!search_result_data.image){
            $('#avatar-image').attr("alt","No Photo Found on NID Database");
        } else {
            $('#avatar-image').attr("src", "data:image/jpeg;base64, "+search_result_data.image.trim());
        }

        $('#avatar').attr("disabled","disabled");
        $('#avatar').val(" NID Image");
        $('#avatar-image').css("width","200");
//        $('#avatar-image').css("height","300");

        $('#nameBn').val( search_result_data.nameBn.trim() == '' ? "No Data" : search_result_data.nameBn.trim() );
        $('#nameEn').val( search_result_data.nameEn.trim() == '' ? "No Data" : search_result_data.nameEn.trim() );
        $('#fatherBn').val( search_result_data.fatherBn.trim() == '' ? "No Data" : search_result_data.fatherBn.trim() );
        $('#motherBn').val( search_result_data.motherBn.trim() == '' ? "No Data" : search_result_data.motherBn.trim() );
        $('#occupation').val( search_result_data.occupation.trim() == '' ? "No Data" : search_result_data.occupation.trim() );
        $('#dateOfBirthR').val( search_result_data.dateOfBirth.trim() == '' ? "No Data" : search_result_data.dateOfBirth.trim() );
        $('#idNoR').val( search_result_data.idNo.trim() == '' ? "No Data" : search_result_data.idNo.trim() );
        $('#presentAddress').val( search_result_data.presentAddress.trim() == '' ? "No Data" : search_result_data.presentAddress.trim() );
        $('#permanentAddress').val( search_result_data.permanentAddress.trim() == '' ? "No Data" : search_result_data.permanentAddress.trim() );
        $('#bloodGroup').val( !search_result_data.bloodGroup ? "No Data" : search_result_data.bloodGroup.trim() );
    }
</script>