<div class="page-header">
    <h1 id="admin_new">
        System Administrator New
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create new system admin account
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/system_admin_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">System Admin Information Form</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="user-NEW"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<script>
    // console.log(currentDataUrl);
    $("#user-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string"
                },
                "name": {
                    "title": "System Admin Name",
                    "type": "string",
                    "required": true
                },
                "email": {
                    "title": "Email Address",
                    "format": "email",
                    "required": true
                },
                "nidNo": {
                    "title": "NID Number",
                    "type:": "string",
                    "required": true
                },
                "phoneNo": {
                    "title": "Phone No",
                    "type": "string",
                    "required": true
                },
                "password": {
                    "title": "New Password",
                    "type": "string",
                    "required": true
                },
                "nidRole": {
                    "title": "Role",
                    "type": "string",
                },
            }
        },
        "postRender": function(){
            var control = $("#nidRole").alpaca("get");
            $('#nidRole').val('system_admin');
            $('#nidRole').attr('disabled', true);
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "name": {
                    "id": "name",
                    "required": true,
                    "maxLength": 100,
                    "minLength": 3,
                    "validator": function(callback) {
                        var nameValue = $.trim(this.getValue());
                        requestGoApi("/check/username?name="+nameValue, 'GET', '', getAuthToken(), function(data){
                            if(data.isSuccess == true){
                                callback({
                                    "status": false,
                                    "message": "The username <strong>"+nameValue+"</strong> is already taken"
                                });
                            } else {
                                callback({
                                    "status": true,
                                });
                            }
                        }, function(data){
                            gritter("Server Error", "System Administrator server is currently offline", false, '3500', 'gritter-error');
                        }, false);
                    },
                    "helper": "Enter System Administrator Name",
                },
                "email": {
                    "id": "email",
                    "required": true,
                    "helper": "Enter System Administrator valid email address",
                },
                "nidNo": {
                    "id": "nidNo",
                    "required": true,
                    "helper": "Enter System Administrator valid NID number",
                },
                "phoneNo": {
                    "id": "phoneNo",
                    "required": true,
                    "maxLength": 11,
                    "minLength": 11,
                    "helper": "Phone Number must be of 11 charecter. No More or Less"
                },
                "password": {
                    "id": "password",
                    "type": "password",
                    "maxLength": 100,
                    "minLength": 3,
                    "helper": "Enter System Administrator password",
                },
                "nidRole": {
                    "id": "nidRole",
                    "helper": "Can not change the role. It is predefined",
                },
            },
            "form": {
                "attributes": {
                    "action": API_SERVER_ADDR + "/create/user",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.data = JSON.stringify(value);
                            console.log(config.data);
                            requestGoApi('/create/user', 'POST', config.data, getAuthToken(), user_create_response, user_create_response_err, false);
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });

    function user_create_response(data){
        if(data.isSuccess){
            gritter("Success", "Successfully New System Admin Created", false, '1500', 'gritter-success gritter-center');
            load_view('/system_admin_management.html');
        } else {
            gritter("Failed", "System Admin Ragistration Failed", false, '3000', 'gritter-error');
        }
    }

    function user_create_response_err(data){
        gritter("Server Error", "System Administrator server is offline", false, '3000', 'gritter-error');
    }
</script>