<div class="container-fluid">

    <div class="page-header">
        <h1 id="system_admin-dashboard">
            System Admin Dashboard
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                System Administrator dashboard panel
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="widget-box widget-color-default light-border">
                <div class="widget-header widget-header-small widget-header-flat">
                    <span style="color: black">Admin Info</span>
                    <div class="widget-toolbar">
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="admin_info">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td style="font-weight: bold">Total number of Admins</td>
                                        <td id="total_admin"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total number of Blocked Admins</td>
                                        <td id="total_admin_block"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total number of Activated admins</td>
                                        <td id="total_admin_activate"></td>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td>-->
                                            <!--<button class="btn btn-white btn-info btn-bold" onclick="load_view('/user_management.html');">Go to Admin Management</button>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                </table>
                            </div>
                        </div>
                    </div>  <!-- WIDGET MAIN -->
                </div> <!-- WIDGET BODY -->
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="widget-box widget-color-default light-border">
                <div class="widget-header widget-header-small widget-header-flat">
                    <span style="color: black">User Info</span>
                    <div class="widget-toolbar">
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="user_info">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td style="font-weight: bold">Total number of Registered Users</td>
                                        <td id="total_user_reg"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total number of Blocked Users</td>
                                        <td id="total_user_block"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total number of Activated Users</td>
                                        <td id="total_user_activate"></td>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td>-->
                                            <!--<button class="btn btn-white btn-info btn-bold" onclick="load_view('/user_management.html');">Go to User Management</button>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                </table>
                            </div>
                        </div>
                    </div>  <!-- WIDGET MAIN -->
                </div> <!-- WIDGET BODY -->
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="widget-box widget-color-default light-border">
                <div class="widget-header widget-header-small widget-header-flat">
                    <span style="color: black">Application Info</span>
                    <div class="widget-toolbar">
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="app_info">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td style="font-weight: bold">Total number of Registered Applications</td>
                                        <td id="total_app_reg"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total number of Activated Applications</td>
                                        <td id="total_app_activate"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total number of De-activated Applications</td>
                                        <td id="total_app_inactive"></td>
                                    </tr>
                                    <!--<tr>-->
                                    <!--<td>-->
                                    <!--<button class="btn btn-white btn-info btn-bold" onclick="load_view('/nid_app_management.html');">Go to Application Management</button>-->
                                    <!--</td>-->
                                    <!--</tr>-->
                                </table>
                            </div>
                        </div>
                    </div>  <!-- WIDGET MAIN -->
                </div> <!-- WIDGET BODY -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="widget-box widget-color-default light-border">
                <div class="widget-header widget-header-small widget-header-flat">
                    <span style="color: black">System Admin Info</span>
                    <div class="widget-toolbar">
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="system_admin_info">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td style="font-weight: bold">Total number of System Admins</td>
                                        <td id="total_system_admin"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total number of Blocked System Admins</td>
                                        <td id="total_system_admin_block"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total number of Activated System admins</td>
                                        <td id="total_system_admin_activate"></td>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td>-->
                                            <!--<button class="btn btn-white btn-info btn-bold" onclick="load_view('/user_management.html');">Go to System Admin Management</button>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                </table>
                            </div>
                        </div>
                    </div>  <!-- WIDGET MAIN -->
                </div> <!-- WIDGET BODY -->
            </div>
        </div>

        <div class="col-xs-12 col-md-8">
            <div class="widget-box widget-color-default light-border">
                <div class="widget-header widget-header-small widget-header-flat">
                    <span style="color: black">Hit History</span>
                    <div class="widget-toolbar">
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">

                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <!--<input id="billing_date_sc_from" name="billing_date_sc_from" class="form-control w70" type="number" placeholder="From" />-->
                                <div class="input-append date form_datetime">
                                    <input id="hit_from" class="form-control w70" size="16" type="text" value="" readonly placeholder="Date Search From">
                                    <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <!--<input id="billing_date_sc_to" name="billing_date_sc_to" class="form-control w70" type="number" placeholder="To">-->
                                <div class="input-append date form_datetime">
                                    <input id="hit_to" class="form-control w70" size="16" type="text" value="" readonly placeholder="Date Search To">
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <button id="billing_date_sc_submit" type="submit" class="btn btn-info btn-white btn-round" style="margin-bottom: 16px;">Search</button>
                                    <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>

                        <div id="system_admin_dds">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td style="font-weight: bold">Total number of NID server hits</td>
                                        <td id="total_nidhit"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total number of Cache server hits</td>
                                        <td id="total_cache_hit"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total combined hits</td>
                                        <td id="total_combohit"></td>
                                    </tr>
                                    <!--<tr>-->
                                    <!--<td>-->
                                    <!--<button class="btn btn-white btn-info btn-bold" onclick="load_view('/user_management.html');">Go to System Admin Management</button>-->
                                    <!--</td>-->
                                    <!--</tr>-->
                                </table>
                            </div>
                        </div>
                    </div>  <!-- WIDGET MAIN -->
                </div> <!-- WIDGET BODY -->
            </div>
        </div>
    </div>

</div>

<script type="application/javascript">
    var dateSearchData = new Object();

    function systemadminReq_callback(data){
        var tmp = data;
        $('#total_admin').html(tmp.totalAdmins);
        $('#total_admin_activate').html(tmp.totalActiveAdmins);
        $('#total_admin_block').html(tmp.totalBlockedAdmins);

        $('#total_user_reg').html(tmp.totalRegisteredUsers);
        $('#total_user_block').html(tmp.totalBlockedUsers);
        $('#total_user_activate').html(tmp.totalActiveUsers);

        $('#total_app_reg').html(tmp.totalRegisteredApps);
        $('#total_app_inactive').html(tmp.totalInActiveApps);
        $('#total_app_activate').html(tmp.totalActiveApps);

        $('#total_system_admin').html(tmp.totalSystemAdmins);
        $('#total_system_admin_activate').html(tmp.totalActiveSystemAdmins);
        $('#total_system_admin_block').html(tmp.totalBlockedSystemAdmins);
    }

    function systemadminReq_callback_err(data){

    }

    function collectSrcData(){
        dateSearchData.from = $('#hit_from').val();
        dateSearchData.to = $('#hit_to').val();
        console.log(dateSearchData);

        requestGoApi('/dashboard/hit?fromDate='+dateSearchData.from+'&toDate='+dateSearchData.to, 'GET', '', getAuthToken(), hitresponse, hitresponse_err, false);
    }
    function hitresponse(data){
        if(data){
            $('#total_nidhit').html(data.totalNidServerHit);
            $('#total_cache_hit').html(data.totalCacheServerHit);
            $('#total_combohit').html(data.totalHit);
        } else {
            gritter("Failed", "Connection Error", false, '3000', 'gritter-error');
        }
    }
    function hitresponse_err(data){
        gritter("Failed", "Connection Error", false, '3000', 'gritter-error');
    }

    jQuery(function($) {
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            minView : 2,
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom"
        });

        $('#billing_date_sc_submit').click(function(e){
            collectSrcData();
        });

        requestGoApi('/dashboard', 'GET', '', getAuthToken(), systemadminReq_callback, systemadminReq_callback_err, false);
    });

</script>
