<div class="page-header">
    <h1 id="system_admin_management">
        System Admin Management
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create or Delete System Administrator
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/system_admin_new.html')">Register New System Admin</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">Existing System Admin List</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="admin_grid-data"></table>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<script>
    function btgDridRequest_userman(params){
        console.log(params);
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;
        var search = (params.data.search == undefined) ? '' : params.data.search;
        requestGoApi('/user?order='+order+'&offset='+offset+'&limit='+limit+'&search='+search+'&role=system_admin', 'GET', '', getAuthToken() , function(data){
            var jsonData = individual_bill_response_new(data, 'system_admin');
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }

    var grid = $('#admin_grid-data').bootstrapTable({
        ajax: btgDridRequest_userman,
        responseHandler: data_grid_response,
        detailView: true,
        detailFormatter: sysadminManagementDetailFormatter,
        search: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 5,
        pageList: [5, 10],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'name',
            title: 'System Admin Name'
        }, {
            field: 'email',
            title: 'Email Address'
        }, {
            field: 'phoneNo',
            title: 'Phone Number'
        }, {
            field: 'isActive',
            title: 'Activation status',
            cellStyle: statusCellstyle,
            formatter: statusFormatter,
        }, {
            field: 'createdAt',
            title: 'Created',
            formatter: dateTimeFormatterForGrid,
        }, {
            field: 'updatedAt',
            title: 'Last Update',
            formatter: dateTimeFormatterForGrid,
        }, {
            field: 'nidRole',
            title: 'Role',
            formatter: sysAdminRoleFormatter,
        }, {
            field: 'isBlocked',
            title: 'Block status',
            cellStyle: blockstatusCellstyle,
            formatter: blockstatusFormatter,
        }, {
            field: 'commands',
            title: 'Commands',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/system_admin_edit.html","/single/user?id=" + $(this).attr('uniqueId') + "&rand=" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            var deleteUserId = $(this).attr('uniqueId');
            bootbox.confirm("Are you sure to delete this system admin?", function(result) {
                if(result) {
                    requestGoApi(API_SERVER_ADDR + "/delete/user?id="+ deleteUserId, 'POST', '', getAuthToken(), user_delete_response, user_delete_response_err, true);
                }
            });
        });
    });

    function sysAdminRoleFormatter(value, row, index){
        var newVal = stringReplacer(value, /_/g, false);
        return newVal;
    }

    function sysadminManagementDetailFormatter(value, row, index){
        var html = [];
        $.each(row, function (key, value) {
            if (key == 'nidNo') {
                html.push(  '<p class="alert alert-default">' +
                        '<b>NID Number</b>' +
                        '<span style="margin-left: 20px">'+value+'</span>' +
                        '</p>');
            }
        });
        return html.join('');
    }

    function user_delete_response(data){
        gritter("Success", "Successfully Deleted the System Admin", false, '1500', 'gritter-success gritter-center');
        $("#admin_grid-data").bootstrapTable("refresh");
//        gritter("Failed", "User deletion failed", false, '3000', 'gritter-error gritter-center');
    }

    function user_delete_response_err(data){

    }

    function commandFormatter(value, row, index) {
        return '<div class="btn-group btn-overlap btn-corner">' +
                '<label class="btn btn-sm btn-white btn-info">' +
                '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
                '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>' +
                '</label>' +
                '</div>';
    }

    function statusFormatter(value, row, index){
        if (value == "true") {
            return "Active";
        } else {
            return "Deactive";
        }
    }

    function statusCellstyle(value, row, index, field){
        if (value == "false") {
            return { css: {"background": "#fb9999"} };
        } else {
            return { css: {"background": "#dbffd7"} };
        }
    }

    function blockstatusFormatter(value, row, index){
        if (value == "true") {
            return "Blocked";
        } else {
            return "Unblocked";
        }
    }

    function blockstatusCellstyle(value, row, index, field){
        if (value == "true") {
            return { css: {"background": "#fb9999"} };
        } else {
            return { css: {"background": "#dbffd7"} };
        }
    }
</script>