<div class="page-header">
    <h1 id="user_management">
        Request Limit History
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Details view of request limit buying
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">Request Limit Buy Log</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="limit_grid-data"></table>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<div id="billing_toolbar">
    <div class="form-inline" role="form">
        <div class="alert alert-default">
            <div class="form-group">
                <!--<input id="billing_date_sc_from" name="billing_date_sc_from" class="form-control w70" type="number" placeholder="From" />-->
                <div class="input-append date form_datetime">
                    <input id="billing_date_sc_from" class="form-control w70" size="16" type="text" value="" readonly placeholder="Date Search From">
                    <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="form-group">
                <!--<input id="billing_date_sc_to" name="billing_date_sc_to" class="form-control w70" type="number" placeholder="To">-->
                <div class="input-append date form_datetime">
                    <input id="billing_date_sc_to" class="form-control w70" size="16" type="text" value="" readonly placeholder="Date Search To">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button id="billing_date_sc_submit" type="submit" class="btn btn-lg btn-info btn-white btn-round" style="margin-bottom: 10px;">Search</button>
                    <span class="add-on"><i class="icon-th" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var dateSearchData = new Object();
    var cus_search_grid_data;

    function btgDridRequest_limit(params){
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;
        var search = (params.data.search == undefined) ? '' : params.data.search;
        requestGoApi('/order?order='+order+'&offset='+offset+'&limit='+limit+'&search='+search, 'GET', '', getAuthToken() , function(data){
            var jsonData = data;
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }
    function btgDridRequest_limit_cus(params){
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;
        var search = (params.data.search == undefined) ? '' : params.data.search;

        requestGoApi('/order?order='+order+'&offset='+offset+'&limit='+limit+'&fromDate='+dateSearchData.from+'&toDate='+dateSearchData.to+'&search='+search, 'GET', '', getAuthToken() , function(data){
            var jsonData = data;
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }

    function admins_grid(method){
        var grid = $('#limit_grid-data').bootstrapTable({
            ajax: method,
            responseHandler: data_grid_response,
            toolbar: '#billing_toolbar',
            search: false,
            searchOnEnterKey: true,
            pagination: true,
            sidePagination: 'server',
            pageSize: 10,
            pageList: [10, 20, 50, 100],
            showRefresh: false,
            showColumns: false,
            buttonsClass: 'info',
            columns: [{
                field: 'name',
                title: 'Name'
            },{
                field: 'createdAt',
                title: 'Created',
                formatter: dateTimeFormatterForGrid,
            }, {
                field: 'invoiceNumber',
                title: 'Invoice'
            }, {
                field: 'purchaseLimit',
                title: 'Limit'
            }, {
                field: 'unitPrice',
                title: 'Unit Price'
            }, {
                field: 'vat',
                title: 'VAT'
            }, {
                field: 'total',
                title: 'Total'
            }, {
                field: 'updatedAt',
                title: 'Last Update',
                formatter: dateTimeFormatterForGrid,
            }
//        {
//            field: 'commands',
//            title: 'Commands',
//            formatter: commandFormatter,
//            searchable: false
//        }
            ]
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            grid.find(".command-edit").on("click", function(e){
                load_view_n_data("/user_edit.html","/single/user?id=" + $(this).attr('uniqueId') + "&rand=" + randomGenarator());

            }).end().find(".command-delete").on("click", function(e){
                var deleteUserId = $(this).attr('uniqueId');
                bootbox.confirm("Are you sure to delete this user?", function(result) {
                    if(result) {
                        //requestGoApi(API_SERVER_ADDR + "/delete/user?id="+ deleteUserId, 'POST', '', getAuthToken(), user_delete_response, user_delete_response_err, true);
                    }
                });
            });
        });
    }

    function developer_grid(method){
        var grid = $('#limit_grid-data').bootstrapTable({
            ajax: method,
            responseHandler: data_grid_response,
            toolbar: '#billing_toolbar',
            search: true,
            searchOnEnterKey: true,
            pagination: true,
            sidePagination: 'server',
            pageSize: 10,
            pageList: [5, 10, 20],
            showRefresh: false,
            showColumns: false,
            buttonsClass: 'info',
            columns: [{
                field: 'createdAt',
                title: 'Created',
                formatter: dateTimeFormatterForGrid,
            }, {
                field: 'invoiceNumber',
                title: 'Invoice'
            }, {
                field: 'purchaseLimit',
                title: 'Limit'
            }, {
                field: 'unitPrice',
                title: 'Unit Price'
            }, {
                field: 'vat',
                title: 'VAT'
            }, {
                field: 'total',
                title: 'Total'
            }, {
                field: 'updatedAt',
                title: 'Last Update',
                formatter: dateTimeFormatterForGrid,
            }, {
                field: 'isCurrent',
                title: 'Current Flag',
                cellStyle: flagstatusCellstyle,
                formatter: flagstatusFormatter,
            }, {
                field: 'commands',
                title: 'Commands',
                formatter: commandFormatter,
            }]
        }).on('load-success.bs.table', function (data) {
            /* Executes after data is loaded and rendered */
            grid.find(".command-individual_bill").on("click", function(e){
                $('#limit_grid-data').bootstrapTable('check', $(this).attr('uniqueId'));
                var row_data = $('#limit_grid-data').bootstrapTable('getSelections');
                $('#limit_grid-data').bootstrapTable('uncheck', $(this).attr('uniqueId'));
                console.log(row_data[0]);
                bill_invoice_dialog(row_data[0]);
            });
        });
    }

    function flagstatusFormatter (value, row, index){
        if (value == true) {
            return "Current";
        } else {
            return "Not Current";
        }
    }

    function flagstatusCellstyle(value, row, index, field){
        if (value == true) {
            return { css: {"background": "#dbffd7"} };
        } else {
            return { css: {"background": "#fb9999"} };
        }
    }

    function user_delete_response(data){
        gritter("Success", "Successfully Deleted the user", false, '1500', 'gritter-success gritter-center');
        $("#user_grid-data").bootstrapTable("refresh");
//        gritter("Failed", "User deletion failed", false, '3000', 'gritter-error gritter-center');
    }

    function user_delete_response_err(data){

    }

    function commandFormatter(value, row, index) {
        return '<div class="btn-group btn-overlap btn-corner">' +
                '<button class="btn btn-default command-individual_bill" uniqueId="'+index+'" Id="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-credit-card" aria-hidden="true"></span></button>' +
                '</label>' +
                '</div>';
    }

    function collectSrcData(){
        dateSearchData.from = $('#billing_date_sc_from').val();
        dateSearchData.to = $('#billing_date_sc_to').val();
        console.log(dateSearchData);

        $('#limit_grid-data').bootstrapTable('destroy');
        if (getRole() == "system_admin" || getRole() == "admin"){
            admins_grid(btgDridRequest_limit_cus);
        } else if (getRole() == "developer"){
            developer_grid(btgDridRequest_limit_cus);
        }
    }

    function gridRefresh(node){
        node.bootstrapTable('refresh');
    }

    jQuery(function($) {
//        $('.form_datetime').datetimepicker('show');
//        $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
//        $('#datetimepicker').datetimepicker();
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            minView : 2,
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom"
        });

        $('#billing_date_sc_submit').click(function(e){
            collectSrcData();
        });

        if (getRole() == "system_admin" || getRole() == "admin"){
            admins_grid(btgDridRequest_limit);
        } else if (getRole() == "developer"){
            developer_grid(btgDridRequest_limit);
        }
    });

</script>