<div class="page-header">
    <h1 id="nid_app_edit">
        User App Registration
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Displaying User Application Registration request form
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/user_applist.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">App registration request form</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="user_app-REQUEST"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
    // console.log(currentDataUrl);
    $.alpaca.Fields.Custom1Field = $.alpaca.Fields.TextField.extend({
        getFieldType: function() {
            return "isActive";
        },
        setValue: function(val) {
            var value = val.split(" ");
            if (value == '1') {
                this.base("Activated");
            } else {
                this.base("Deactivcated");
            }
        }
    });
    Alpaca.registerFieldClass("isActive", Alpaca.Fields.Custom1Field);

    $("#user_app-REQUEST").alpaca({
        "dataSource": currentDataUrl,
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string",
                },
                "nid_app_list_id":{
                    "type": "string",
                },
                "nid_user_id":{
                    "type": "string",
                },
                "app_name": {
                    "title": "Application Name",
                    "type": "string"
                },
                "app_domain": {
                    "title": "Application Domain",
                    "type": "string"
                },
                "app_description": {
                    "title": "Application Description",
                    "type": "string"
                },
                "app_request_limit": {
                    "title": "Application Request Limit",
                    "type": "string",
                },
                "app_token": {
                    "title": "Application Token",
                    "type": "string"
                },
                "cache_status": {
                    "type": "string",
                },
                "enable_cache": {
                    "title": "Enable Cache",
                    "enum": ["1", "0"]
                },
            }
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "nid_app_list_id": {
                    "id": "nid_app_list_id",
                    "type": "hidden"
                },
                "nid_user_id": {
                    "id": "nid_user_id",
                    "type": "hidden"
                },
                "app_name": {
                    "disabled": true
                },
                "app_domain": {
                    "disabled": true
                },
                "app_description": {
                    "disabled": true
                },
                "app_request_limit": {
                    "disabled": true
                },
                "app_token": {
                    "disabled": true
                },
                "cache_status": {
                    "type": "isActive",
                    "disabled": true
                },
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/userAppRegistrationRequest",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(data){
                                if(data.status == "success"){
                                    gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                    load_view('/nid_app_management.html');
                                } else {
                                    gritter(data.status, data.message, false, '3500', 'gritter-error gritter-center');
                                }
                            }).fail(function(){
                                gritter("Error", "Sending Failed", false, '3500', 'gritter-error gritter-center');
                            });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>