<div class="page-header">
    <h1 id="page_manager">
        User Bill History
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Displays User's Bill History
        </small>
    </h1>
</div><!-- /.page-header -->

<!--<p class="alert alert-success">-->
    <!--<button class="btn btn-success" onclick="load_view('/pages_new.html')">Add New Page</button>-->
<!--</p>-->

<table id="grid-data"></table>

<script>
    var curr_user_id = 20;
    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/userBill/"+curr_user_id,
        responseHandler: data_grid_response,
        method: 'POST',
        search: false,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 25,
        pageList: [25, 30, 40, 50, 60, 100],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'nid_bill_id',
            title: 'ID'
        }, {
            field: 'sub_total',
            title: 'Sub Total'
        },{
            field: 'has_vat',
            title: 'VAT status'
        }, {
            field: 'vat',
            title: 'VAT amount'
        }, {
            field: 'grand_total',
            title: 'Grand Total',
        }, {
            field: 'created_at',
            title: 'Created At',
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/pages_edit.html","/pages/" + $(this).attr('uniqueId') + "/" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            delete_archive( $(this).attr('uniqueId'),function(data){
                $("#grid-data").bootstrapTable("refresh");
            }, 'pages' );
        });
    });


    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
                '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>';
    }

    function footeradddone(data){
        alert(data.message);
    }

</script>