<div class="page-header">
    <h1 id="user_management">
        Developer Management
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create or Delete Developer
        </small>
    </h1>
</div><!-- /.page-header -->

<!--<p class="alert alert-success">-->
    <!--<button class="btn btn-success" onclick="load_view('/user_new.html')">Register New Users</button>-->
<!--</p>-->

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">Existing Developer List</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <table id="user_grid-data"></table>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<script>
    function btgDridRequest_userman(params){
        var order = params.data.order;
        var offset = params.data.offset;
        var limit = params.data.limit;
        var search = (params.data.search == undefined) ? '' : params.data.search;
        requestGoApi('/user?order='+order+'&offset='+offset+'&limit='+limit+'&search='+search+'&role=developer', 'GET', '', getAuthToken() , function(data){
            var jsonData = data;
            params.success({
                total: jsonData.total,
                rows: jsonData.rows
            });
            params.error({
                total: 0,
                rows: []
            });
        }, function(data){}, false);
    }

    var grid = $('#user_grid-data').bootstrapTable({
        ajax: btgDridRequest_userman,
        responseHandler: data_grid_response,
        detailView: true,
        detailFormatter: userManagementDetailFormatter,
        search: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 10,
        pageList: [5, 10, 30, 40, 50],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'name',
            title: 'User Name'
        }, {
            field: 'email',
            title: 'Email Address'
        }, {
            field: 'phoneNo',
            title: 'Phone Number'
        }, {
            field: 'isActive',
            title: 'Activation status',
            cellStyle: statusCellstyle,
            formatter: statusFormatter,
        }, {
            field: 'createdAt',
            title: 'Created',
            formatter: dateTimeFormatterForGrid,
        }, {
            field: 'updatedAt',
            title: 'Last Update',
            formatter: dateTimeFormatterForGrid,
        }, {
            field: 'nidRole',
            title: 'Role'
        }, {
            field: 'isBlocked',
            title: 'Block status',
            cellStyle: blockstatusCellstyle,
            formatter: blockstatusFormatter,
        }, {
            field: 'isnidVerified',
            title: 'NID Verified?',
            cellStyle: isVarifiedCellstyle,
            formatter: isVarifiedFormatter,
        }, {
            field: 'commands',
            title: 'Commands',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/user_edit.html","/single/user?id=" + $(this).attr('uniqueId') + "&rand=" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
		    var deleteUserId = $(this).attr('uniqueId');
            bootbox.confirm("Are you sure to delete this user?", function(result) {
                if(result) {
                    requestGoApi(API_SERVER_ADDR + "/delete/user?id="+ deleteUserId, 'POST', '', getAuthToken(), user_delete_response, user_delete_response_err, true);
                }
            });
        }).end().find(".command-request_limit").on("click", function(e){
            load_view_n_data_custom("/user_buy_request_limit.html","/single/user/" + $(this).attr('uniqueId') + "/" + randomGenarator());
        }).end().find(".command-individual_bill").on("click", function(e){
            requestGoApi("/order/user?id="+$(this).attr('uniqueId'), "GET", '', getAuthToken(), user_ind_bill_respons, user_ind_bill_respons_err, false);
//            requestGoApi("/single/user?id=" + $(this).attr('uniqueId') + "&rand=" + randomGenarator(), "GET", '', getAuthToken(), user_ind_bill_respons, user_ind_bill_respons_err, false);
        });
    });

    function user_ind_bill_respons(data){
        if(data != null){
            bill_invoice_dialog(data);
        } else {
            gritter("No Data", "Your Selected Developer has no data to show", false, '3000', 'gritter-error');
        }
    }

    function user_ind_bill_respons_err(data){
        gritter("Failed", "Developer Data Fetch Error", false, '3000', 'gritter-error');
    }

    function userManagementDetailFormatter(value, row, index){
        var html = [];
        $.each(row, function (key, value) {
            if (key == 'nidNo') {
                html.push(  '<p class="alert alert-default">' +
                                '<b>NID Number</b>' +
                                '<span style="margin-left: 20px">'+value+'</span>' +
                            '</p>');
            }
            if (key == 'passportNo') {
                html.push(  '<p class="alert alert-default">' +
                                '<b>Passport Number</b>' +
                                '<span style="margin-left: 20px">'+value+'</span>' +
                            '</p>');
            }
        });
        return html.join('');
    }

    function user_delete_response(data){
        gritter("Success", "Successfully Deleted the user", false, '1500', 'gritter-success gritter-center');
        $("#user_grid-data").bootstrapTable("refresh");
//        gritter("Failed", "User deletion failed", false, '3000', 'gritter-error gritter-center');
    }

    function user_delete_response_err(data){

    }

    function commandFormatter(value, row, index) {
        return '<div class="btn-group btn-overlap btn-corner">' +
                    '<label class="btn btn-sm btn-white btn-info">' +
                        '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
                        '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>' +
                        '<button class="btn btn-success command-request_limit" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-shopping-cart"> </button>' +
                        '<button class="btn btn-default command-individual_bill" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-credit-card" aria-hidden="true"></span></button>' +
                    '</label>' +
                '</div>';
//        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
//               '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>' +
//                '<button class="btn btn-success command-request_limit" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-shopping-cart"> </button>' +
//                '<button class="btn btn-default command-individual_bill" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-credit-card" aria-hidden="true"></span></button>';
    }

    function statusFormatter(value, row, index){
        if (value == "true") {
            return "Active";
        } else {
            return "Deactive";
        }
    }

    function statusCellstyle(value, row, index, field){
        if (value == "false") {
            return { css: {"background": "#fb9999"} };
        } else {
            return { css: {"background": "#dbffd7"} };
        }
    }

    function blockstatusFormatter(value, row, index){
        if (value == "true") {
            return "Blocked";
        } else {
            return "Unblocked";
        }
    }

    function blockstatusCellstyle(value, row, index, field){
        if (value == "true") {
            return { css: {"background": "#fb9999"} };
        } else {
            return { css: {"background": "#dbffd7"} };
        }
    }

    function isVarifiedFormatter(value, row, index){
        if (value == "true") {
            return "Yes";
        } else {
            return "No";
        }
    }

    function isVarifiedCellstyle(value, row, index, field){
        if (value == "true") {
            return {
//                css: {"background": "#dbffd7"},
                css: {"background": "#dbffd7", "text-align": "center"}
            };
        } else {
            return {
//                css: {"background": "#fb9999"},
                css: {"background": "#fb9999", "text-align": "center"}
            };
        }
    }
</script>