<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-dark" style="background-color: #ccc;">
            <ul class="nav navbar-nav">
                <li id="details_tab_button" class="nav-item active">
                    <a class="nav-link" href="#">Details <span class="sr-only">(current)</span></a>
                </li>
                <li id="pass_tab_button" class="nav-item">
                    <a class="nav-link" href="#">Password</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="details_tab" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="header blue bolder smaller">General</h4>
            <div class="row">
                <div class="vspace-12-sm"></div>

                <div class="col-xs-12 col-sm-8">
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="user_prof-name">Username</label>

                        <div class="col-sm-8">
                            <input id="user_prof-name" class="col-xs-12 col-sm-10" type="text" placeholder="Username" disabled />
                        </div>
                    </div>

                    <div class="space-4"></div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="user_prof-nidNo">NID Number</label>

                        <div class="col-sm-8">
                            <input id="user_prof-nidNo" class="col-xs-12 col-sm-10" type="text" placeholder="NID Number" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="user_prof-passportNo">Passport Number</label>

                        <div class="col-sm-8">
                            <input id="user_prof-passportNo" class="col-xs-12 col-sm-10" type="text" placeholder="Passport Number" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="space"></div>

            <h4 class="header blue bolder smaller">Contact</h4>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="user_prof-email">Email</label>

                <div class="col-sm-8">
																	<span class="input-icon input-icon-right">
																		<input class="form-control" type="email" id="user_prof-email" />
																		<i class="ace-icon fa fa-envelope"></i>
																	</span>
                </div>
            </div>

            <div class="space-4"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="user_prof-phoneNo">Phone</label>

                <div class="col-sm-8">
																	<span class="input-icon input-icon-right">
																		<input class="input-medium input-mask-phone form-control" type="text" id="user_prof-phoneNo" />
																		<i class="ace-icon fa fa-phone fa-flip-horizontal"></i>
																	</span>
                </div>
            </div>

        </div>
    </div>

    <div id="profile_save" class="row hide">
        <div class="col-md-12">
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button id="userPassChangeSave_details" class="btn btn-info" type="button">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Save
                    </button>

                    <!--&nbsp; &nbsp;-->
                    <!--<button class="btn" type="reset">-->
                    <!--<i class="ace-icon fa fa-undo bigger-110"></i>-->
                    <!--Reset-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>
</div>


<div id="password_tab" class="container-fluid hide">
    <div class="row">
        <div class="col-md-12">
            <div class="space-10"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">Confirm Old Password</label>

                <div class="col-sm-9">
                    <input type="password" id="form-field-pass0" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">New Password</label>

                <div class="col-sm-9">
                    <input type="password" id="form-field-pass1" />
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirm Password</label>

                <div class="col-sm-9">
                    <input type="password" id="form-field-pass2" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button id="userPassChangeSave_pass" class="btn btn-info" type="button">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Save
                    </button>

                    <!--&nbsp; &nbsp;-->
                    <!--<button class="btn" type="reset">-->
                    <!--<i class="ace-icon fa fa-undo bigger-110"></i>-->
                    <!--Reset-->
                    <!--</button>-->
                </div>
            </div>
        </div>
    </div>
</div>



<script type="application/javascript">

    var userPassChange = new Object;
    var userProfileChange = new Object;
    var userPassChangeSend = new Object;

//    $('#profile_nav_b').click(function(){
//        $(this).addClass('active');
//       $('#profile_nav_p').removeClass('active');
//    });
//
//    $('#profile_nav_p').click(function(){
//        $(this).addClass('active');
//        $('#profile_nav_b').removeClass('active');
//    });

    function userProfileDataLoad(data){
        $('#user_prof-name').val($.trim(data.name));
        $('#user_prof-nidNo').val($.trim(data.nidNo));
        $('#user_prof-passportNo').val($.trim(data.passportNo));
        $('#user_prof-email').val($.trim(data.email));
        $('#user_prof-phoneNo').val($.trim(data.phoneNo));
    }

    function userProfileResponse(data){
        userProfileDataLoad(data);
    }

    function userProfileResponse_err(data){

    }

    function collectPassFormData(){
        userPassChange.password = $.trim($('#form-field-pass0').val());
        userPassChange.updatedPassword = $.trim($('#form-field-pass1').val());
        userPassChange.conNewPass = $.trim($('#form-field-pass2').val());
    }

    function verifyPassFormData(){
        if ((userPassChange.password == '') || (userPassChange.updatedPassword == '') || (userPassChange.conNewPass == '') ){
            return 0;
        } else if( !(userPassChange.updatedPassword == userPassChange.conNewPass) ) {
            return 2;
        } else {
            return 1;
        }
    }

    function passwordChange(){
        collectPassFormData();
        if (verifyPassFormData() == 1){
            var senddata = {'password':userPassChange.password,'updatedPassword':userPassChange.updatedPassword};
            requestGoApi('/changepassword', 'POST', JSON.stringify(senddata), getAuthToken(), userPassCha_reponse, userPassCha_reponse_err, false);
        } else if( verifyPassFormData() == 2 ) {
            gritter('Error', 'Your New Password and Confirm New Password does not matches', false, '2500', 'gritter-error');
        } else if ( verifyPassFormData() == 0 ) {
            gritter('Error', 'All the fields are required', false, '2500', 'gritter-error');
        }
    }



    function userPassCha_reponse(data){
        if(data.isSuccess){
            gritter('Success', 'Your Password Has been Saved Successfully', false, '2500', 'gritter-success');
            bootbox.confirm("Your Password has updated successfully. Please Log-in again to continue.", function(result) {
                if(result) {
                    logout();
                } else {
                    logout();
                }
            });
        } else {
            gritter('Error', 'Your Old Password is not correct. Try again', false, '2500', 'gritter-error');
        }
    }

    function userPassCha_reponse_err(data){

    }

    function userProfileCha_reponse(data){
        if(data.isSuccess){
            gritter('Success', 'Your Profile Has been Saved Successfully', false, '2500', 'gritter-success');
            gritter('Tip!', 'Your Profile Info Has changed. Log-in again to view the changes', true, '2500', 'gritter-success');
            load_view('/user_profile.html');
        } else {
            gritter('Error', 'Your Profile update failed. Try again', false, '2500', 'gritter-error');
        }
    }

    function userProfile_reponse_err(data){

    }

    function collectProfileFormData(){
        console.log(isValidEmailAddress($.trim($('#user_prof-email').val())));
        if( $.trim($('#user_prof-email').val()) == '' || $.trim($('#user_prof-phoneNo').val()) == '' ){
            gritter('Error', 'Both Fields are required', false, '2500', 'gritter-error');
        } else {
            if (isValidEmailAddress($.trim($('#user_prof-email').val()))){
                userProfileChange.email = $.trim($('#user_prof-email').val());
                userProfileChange.phoneNo = $.trim($('#user_prof-phoneNo').val());
                var sendProfiledata = {'email':userProfileChange.email,'phoneNo':userProfileChange.phoneNo};
                requestGoApi('/update/user', 'POST', JSON.stringify(sendProfiledata), getAuthToken(), userProfileCha_reponse, userProfile_reponse_err, false);
            } else {
                gritter('Error', 'Email Address is not valid', false, '2500', 'gritter-error');
            }
        }
    }

    function profileSave(){
        collectProfileFormData();
    }

    jQuery(function($) {
        $('#details_tab_button').click(function(){
            $('#details_tab').removeClass('hide');
            $('#password_tab').addClass('hide');
        });

        $('#pass_tab_button').click(function(){
            $('#details_tab').addClass('hide');
            $('#password_tab').removeClass('hide');
        });

        $('#userPassChangeSave_pass').click(function(){
            passwordChange();
        });

        if( getRole() == "developer" ){
            $('#profile_save').removeClass('hide');
            $('#userPassChangeSave_details').click(function(){
                profileSave();
            });
        } else {
            $('#profile_save').addClass('hide');
        }
        requestGoApi('/profile', 'GET', '', getAuthToken(), userProfileResponse, userProfileResponse_err, false);
    });
</script>
