<div class="page-header">
    <h1 id="user_buy_request">
        Request Limit
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Buy Request Limit for perticular user
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/user_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color: black">Request Limit</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="user-req_limit"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>

    $("#user-req_limit").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string",
                },
                "purchaseLimit": {
                    "title": "Total Request Limit",
                    "type": "number",
                    "required": true,
                },
                "unitPrice": {
                    "title": "UnitPrice",
                    "type": "number",
                    "required": true,
                },
                "hasVat": {
                    "title": "HasVat",
                    "type": "string",
                },
                "vat": {
                    "title": "VAT",
                    "type": "number",
                    "required": true,
                },
            },
            "dependencies": {
                "vat": "hasVat"
            }
        },
        "postRender": function(){
            load_data();
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "purchaseLimit": {
                    "id": "purchaseLimit",
                    "type": "number",
                    "helper": "Enter total request limit"
                },
                "unitPrice": {
                    "id": "unitPrice",
                    "type": "number",
                    "helper": "Enter Per Unit Coast"
                },
                "hasVat": {
                    "id": "hasVat",
                    "rightLabel": " VAT present ?",
                    "type": "checkbox",
                    "helper": "Check if VAT is present"
                },
                "vat": {
                    "id": "vat",
                    "helper": "Enter VAT Information"
                },
            },
            "form": {
                "attributes": {
                    "action": API_SERVER_ADDR + "/update/user",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.data = JSON.stringify(value);
                            console.log(config.data);
                            requestGoApi('/create/order', 'POST', config.data, getAuthToken(), user_req_limit_buy_response, user_req_limit_buy_response_err, false);
                        }
                    },
                }
            }
        }
    });

    function user_req_limit_buy_response(data){
        if(data.isSuccess){
            gritter("Success", "You Successfully Bought Request Limit", true, '1500', 'gritter-success');
            load_view('/user_management.html');
        } else {
            gritter("Failed", "Request Limit buying failed", false, '3000', 'gritter-error gritter-center');
        }
    }

    function user_req_limit_buy_response_err(data){

    }

    function load_data(){
        $.ajax({
            type: "GET",
            url: currentDataUrl,
            contentType: "application/json",
            dataType: "json",
            data: '',
            beforeSend: function( xhr ) {

            },
            success: function(data, textStatus, jqXHR){
                if(data.status){
                    $('#id').val($.trim(data.user_id));
                }
            },
            complete: function() {

            }
        });
    }

</script>