<div class="container-fluid">

    <div class="page-header">
        <h1 id="user_edit">
            Developer Dashboard
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Dashboard for Developers
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-md-6">
            <div class="widget-box widget-color-default light-border">
                <div class="widget-header widget-header-small widget-header-flat">
                    <span style="color: black">NID Application Information</span>
                    <div class="widget-toolbar">
                        <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
                        <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
                        <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div id="user_apps">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <td style="font-weight: bold">Total Registered Apps</td>
                                        <td id="user_total_reg_apps"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total Inactive Apps</td>
                                        <td id="user_total_inactive_apps"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Total Active Apps</td>
                                        <td id="user_total_active_apps"></td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Remaining Limit</td>
                                        <td id="user_remaining_limit"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>  <!-- WIDGET MAIN -->
                </div> <!-- WIDGET BODY -->
            </div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="widget-box widget-color-default light-border">-->
                <!--<div class="widget-header widget-header-small widget-header-flat">-->
                    <!--<span style="color: black">Data Usage History</span>-->
                    <!--<div class="widget-toolbar">-->
                        <!--<a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>-->
                        <!--<a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>-->
                        <!--<a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="widget-body">-->
                    <!--<div class="widget-main">-->
                        <!--<table id="data_uage-grid"></table>-->
                    <!--</div>  &lt;!&ndash; WIDGET MAIN &ndash;&gt;-->
                <!--</div> &lt;!&ndash; WIDGET BODY &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-xs-12 col-md-6">-->
            <!--<div class="widget-box widget-color-default light-border">-->
                <!--<div class="widget-header widget-header-small widget-header-flat">-->
                    <!--<span style="color: black">Total Billings</span>-->
                    <!--<div class="widget-toolbar">-->
                        <!--<a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>-->
                        <!--<a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>-->
                        <!--<a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="widget-body">-->
                    <!--<div class="widget-main">-->
                        <!--<div id="user_bill">-->
                            <!--<div class="table-responsive">-->
                                <!--<table class="table">-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">Per API call bill </td>-->
                                        <!--<td id="user-bill_per_api"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">Bill ID</td>-->
                                        <!--<td id="user-bill_bill-id"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">User ID</td>-->
                                        <!--<td id="user-bill_user-id"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">NID Application Name</td>-->
                                        <!--<td id="user-bill_nid-app-name"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">Invoice Number</td>-->
                                        <!--<td id="user-bill_invoice"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">Sub Total</td>-->
                                        <!--<td id="user-bill_sub-total"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">VAT Amount</td>-->
                                        <!--<td id="user-bill_vat"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">Grand Total</td>-->
                                        <!--<td id="user-bill_grand-total"></td>-->
                                    <!--</tr>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>  &lt;!&ndash; WIDGET MAIN &ndash;&gt;-->
                <!--</div> &lt;!&ndash; WIDGET BODY &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-xs-12 col-md-6">-->
            <!--<div class="widget-box widget-color-default light-border">-->
                <!--<div class="widget-header widget-header-small widget-header-flat">-->
                    <!--<span style="color: black">Credit Ballence</span>-->
                    <!--<div class="widget-toolbar">-->
                        <!--<a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>-->
                        <!--<a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>-->
                        <!--<a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="widget-body">-->
                    <!--<div class="widget-main">-->
                        <!--<div id="user_credit_bal">-->
                            <!--<div class="table-responsive">-->
                                <!--<table class="table">-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">User ID</td>-->
                                        <!--<td id="user_credit_bal-userID">2</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">Credit</td>-->
                                        <!--<td id="user_credit_bal-credit"></td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td style="font-weight: bold">Balance</td>-->
                                        <!--<td id="user_credit_bal-balance"></td>-->
                                    <!--</tr>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>  &lt;!&ndash; WIDGET MAIN &ndash;&gt;-->
                <!--</div> &lt;!&ndash; WIDGET BODY &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-xs-12 col-md-12">-->
            <!--<div class="widget-box widget-color-default light-border">-->
                <!--<div class="widget-header widget-header-small widget-header-flat">-->
                    <!--<span style="color: black">Available API endpoints</span>-->
                    <!--<div class="widget-toolbar">-->
                        <!--<a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>-->
                        <!--<a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>-->
                        <!--<a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="widget-body">-->
                    <!--<div class="widget-main">-->
                        <!--<table id="user_endpoint_list-grid"></table>-->
                    <!--</div>  &lt;!&ndash; WIDGET MAIN &ndash;&gt;-->
                <!--</div> &lt;!&ndash; WIDGET BODY &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

<script type="application/javascript">
    var grid = $('#data_uage-grid').bootstrapTable({
        url: APP_BASE_API + "/user_data_usage",
        responseHandler: data_grid_response,
        method: 'POST',
        search: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 20,
        pageList: [20, 30, 40, 50, 100],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'user_id',
            title: 'ID'
        }, {
            field: 'user_name',
            title: 'Name'
        },{
            field: 'user_email',
            title: 'Email'
        }, {
            field: 'authorized_app',
            title: 'Application Name'
        }, {
            field: 'last_login',
            title: 'Last Login'
        }, {
            field: 'total_mb_used',
            title: 'Toatl MB Used'
        }, {
            field: 'session_timestamp',
            title: 'Session Duration'
        }, {
            field: 'commands',
            title: 'Commands',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/pages_edit.html","/pages/" + $(this).attr('uniqueId') + "/" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            delete_archive( $(this).attr('uniqueId'),function(data){
                $("#grid-data").bootstrapTable("refresh");
            }, 'pages' );
        });
    });

    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>' +
                '<button class="btn btn-danger command-delete" uniqueId="'+ row.id +'" style="margin-left: 2px;"> <span class="fa fa-trash-o"> </button>';
    }


    var grid = $('#user_endpoint_list-grid').bootstrapTable({
        url: APP_BASE_API + "/user_endpoint_list",
        responseHandler: data_grid_response,
        method: 'POST',
        search: true,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 20,
        pageList: [20, 30, 40, 50, 100],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'id',
            title: 'ID'
        }, {
            field: 'name',
            title: 'API Name'
        },{
            field: 'domain',
            title: 'Domain'
        }, {
            field: 'access_limit',
            title: 'Access Limit'
        }, {
            field: 'created_at',
            title: 'Created At'
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/pages_edit.html","/pages/" + $(this).attr('uniqueId') + "/" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            delete_archive( $(this).attr('uniqueId'),function(data){
                $("#grid-data").bootstrapTable("refresh");
            }, 'pages' );
        });
    });

    function adminReq_callback(data){
        $('#user_total_reg_apps').html(data.totalRegisteredApps);
        $('#user_total_inactive_apps').html(data.totalInActiveApps);
        $('#user_total_active_apps').html(data.totalActiveApps);
        $('#user_remaining_limit').html(data.remainingLimit);
    }

    function adminReq_callback_err(data){

    }

    jQuery(function($) {
        requestGoApi('/dashboard', 'GET', '', getAuthToken(), adminReq_callback, adminReq_callback_err, false);
    });

</script>
