<div class="page-header">
    <h1 id="user_new">
        Register New Application
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Displaying New Application Registration form for Users
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/user_applist.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">User new app registration</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="user_app-NEW"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>


<script>
    // console.log(currentDataUrl);
    $("#user_app-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string",
                },
                "nid_app_list_id":{
                    "type": "string",
                },
                "nid_user_id":{
                    "type": "string",
                },
                "app_name": {
                    "title": "Application Name",
                    "type": "string"
                },
                "app_domain": {
                    "title": "Application Domain",
                    "type": "string"
                },
                "app_description": {
                    "title": "Application Description",
                    "type": "string"
                },
                "app_request_limit": {
                    "title": "Application Request Limit",
                    "type": "string",
                },
                "app_token": {
                    "title": "Application Token",
                    "type": "string"
                },
                "enable_cache": {
                    "title": "Enable Cache",
                    "enum": ["1", "0"]
                },
            }
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "nid_app_list_id": {
                    "id": "nid_app_list_id",
                    "type": "hidden"
                },
                "nid_user_id": {
                    "id": "nid_user_id",
                    "type": "hidden"
                },
                "app_name": {
                    "helper": "Enter app name"
                },
                "app_domain": {
                    "helper": "Enter app domain"
                },
                "app_description": {
                    "helper": "Enter app description"
                },
                "app_request_limit": {
                    "helper": "Enter app request limit",
                },
                "app_token": {
                    "helper": "app token",
                    "disabled": true,
                },
                "enable_cache": {
                    "type": "select",
                    "optionLabels": ["Activate", "Deactivcate"],
                    "noneLabel": "-- Select --",
                    "removeDefaultNone": false,
                    "helper": "enable or disable cache by selecting option",
                },
            },
            "form": {
                "attributes": {
                    "action": APP_BASE_API + "/userAppRegistrationNew",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.contentType = "application/json";
                            config.data = JSON.stringify(value);

                            this.ajaxSubmit(config).done(function(data){
                                if(data.status == "success"){
                                    gritter(data.status, data.message, false, '1500', 'gritter-success gritter-center');
                                    load_view('/nid_app_management.html');
                                } else {
                                    gritter(data.status, data.message, false, '3000', 'gritter-error gritter-center');
                                }
                            }).fail(function(){
//                                    console.warn('Failed to save');
                                gritter("Error", "Sending Failed", false, '3000', 'gritter-error gritter-center');
                            });
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });
</script>