<div class="page-header">
    <h1>
        User Profile Page
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            3 styles with inline editable feature
        </small>
    </h1>
</div><!-- /.page-header -->


<div class="row">
    <div class="col-md-12">

        <div>
            <div id="user-profile-3" class="user-profile row">
                <div class="col-sm-offset-1 col-sm-10">
                    <!--<div class="well well-sm">-->
                        <!--&lt;!&ndash; - -->
<!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--&nbsp; &ndash;&gt;-->
                        <!--<div class="inline middle blue bigger-110"> Your profile is 70% complete </div>-->

                        <!--&nbsp; &nbsp; &nbsp;-->
                        <!--<div style="width:200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active pos-rel">-->
                            <!--<div class="progress-bar progress-bar-success" style="width:70%"></div>-->
                        <!--</div>-->
                    <!--</div>&lt;!&ndash; /.well &ndash;&gt;-->

                    <div class="space"></div>

                    <form class="form-horizontal">
                        <div class="tabbable">
                            <ul class="nav nav-tabs padding-16">
                                <li id="profile_nav_b" class="active">
                                    <a data-toggle="tab" href="#edit-basic">
                                        <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                        Basic Info
                                    </a>
                                </li>

                                <!--<li>-->
                                    <!--<a data-toggle="tab" href="#edit-settings">-->
                                        <!--<i class="purple ace-icon fa fa-cog bigger-125"></i>-->
                                        <!--Settings-->
                                    <!--</a>-->
                                <!--</li>-->

                                <li id="profile_nav_p">
                                    <a data-toggle="tab" href="#edit-password">
                                        <i class="blue ace-icon fa fa-key bigger-125"></i>
                                        Password
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content profile-edit-tab-content">
                                <div id="edit-basic" class="tab-pane in active">
                                    <h4 class="header blue bolder smaller">General</h4>

                                    <div class="row">
                                        <div class="vspace-12-sm"></div>

                                        <div class="col-xs-12 col-sm-8">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="user_prof-name">Username</label>

                                                <div class="col-sm-8">
                                                    <input id="user_prof-name" class="col-xs-12 col-sm-10" type="text" placeholder="Username" disabled />
                                                </div>
                                            </div>

                                            <div class="space-4"></div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="user_prof-nidNo">NID Number</label>

                                                <div class="col-sm-8">
                                                    <input id="user_prof-nidNo" class="col-xs-12 col-sm-10" type="text" placeholder="NID Number" disabled />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="user_prof-passportNo">NID Number</label>

                                                <div class="col-sm-8">
                                                    <input id="user_prof-passportNo" class="col-xs-12 col-sm-10" type="text" placeholder="Passport Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label no-padding-right" for="form-field-date">Birth Date</label>-->

                                        <!--<div class="col-sm-9">-->
                                            <!--<div class="input-medium">-->
                                                <!--<div class="input-group">-->
                                                    <!--<input class="input-medium date-picker" id="form-field-date" type="text" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" />-->
                                                    <!--<span class="input-group-addon">-->
																				<!--<i class="ace-icon fa fa-calendar"></i>-->
																			<!--</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="space-4"></div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label no-padding-right">Gender</label>-->

                                        <!--<div class="col-sm-9">-->
                                            <!--<label class="inline">-->
                                                <!--<input name="form-field-radio" type="radio" class="ace" />-->
                                                <!--<span class="lbl middle"> Male</span>-->
                                            <!--</label>-->

                                            <!--&nbsp; &nbsp; &nbsp;-->
                                            <!--<label class="inline">-->
                                                <!--<input name="form-field-radio" type="radio" class="ace" />-->
                                                <!--<span class="lbl middle"> Female</span>-->
                                            <!--</label>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="space-4"></div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label no-padding-right" for="form-field-comment">Comment</label>-->

                                        <!--<div class="col-sm-9">-->
                                            <!--<textarea id="form-field-comment"></textarea>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="space"></div>
                                    <h4 class="header blue bolder smaller">Contact</h4>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="user_prof-email">Email</label>

                                        <div class="col-sm-9">
																	<span class="input-icon input-icon-right">
																		<input type="email" id="user_prof-email" />
																		<i class="ace-icon fa fa-envelope"></i>
																	</span>
                                        </div>
                                    </div>

                                    <div class="space-4"></div>

                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label no-padding-right" for="form-field-website">Website</label>-->

                                        <!--<div class="col-sm-9">-->
																	<!--<span class="input-icon input-icon-right">-->
																		<!--<input type="url" id="form-field-website" value="" />-->
																		<!--<i class="ace-icon fa fa-globe"></i>-->
																	<!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="space-4"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="user_prof-phoneNo">Phone</label>

                                        <div class="col-sm-9">
																	<span class="input-icon input-icon-right">
																		<input class="input-medium input-mask-phone" type="text" id="user_prof-phoneNo" />
																		<i class="ace-icon fa fa-phone fa-flip-horizontal"></i>
																	</span>
                                        </div>
                                    </div>

                                    <!--<div class="space"></div>-->
                                    <!--<h4 class="header blue bolder smaller">Social</h4>-->

                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label no-padding-right" for="form-field-facebook">Facebook</label>-->

                                        <!--<div class="col-sm-9">-->
																	<!--<span class="input-icon">-->
																		<!--<input type="text" value="" id="form-field-facebook" />-->
																		<!--<i class="ace-icon fa fa-facebook blue"></i>-->
																	<!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="space-4"></div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label no-padding-right" for="form-field-twitter">Twitter</label>-->

                                        <!--<div class="col-sm-9">-->
																	<!--<span class="input-icon">-->
																		<!--<input type="text" value="" id="form-field-twitter" />-->
																		<!--<i class="ace-icon fa fa-twitter light-blue"></i>-->
																	<!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="space-4"></div>-->

                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-3 control-label no-padding-right" for="form-field-gplus">Google+</label>-->

                                        <!--<div class="col-sm-9">-->
																	<!--<span class="input-icon">-->
																		<!--<input type="text" value="" id="form-field-gplus" />-->
																		<!--<i class="ace-icon fa fa-google-plus red"></i>-->
																	<!--</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>

                                <div id="edit-settings" class="tab-pane">
                                    <div class="space-10"></div>

                                    <div>
                                        <label class="inline">
                                            <input type="checkbox" name="form-field-checkbox" class="ace" />
                                            <span class="lbl"> Make my profile public</span>
                                        </label>
                                    </div>

                                    <div class="space-8"></div>

                                    <div>
                                        <label class="inline">
                                            <input type="checkbox" name="form-field-checkbox" class="ace" />
                                            <span class="lbl"> Email me new updates</span>
                                        </label>
                                    </div>

                                    <div class="space-8"></div>

                                    <div>
                                        <label>
                                            <input type="checkbox" name="form-field-checkbox" class="ace" />
                                            <span class="lbl"> Keep a history of my conversations</span>
                                        </label>

                                        <label>
                                            <span class="space-2 block"></span>

                                            for
                                            <input type="text" class="input-mini" maxlength="3" />
                                            days
                                        </label>
                                    </div>
                                </div>

                                <div id="edit-password" class="tab-pane">
                                    <div class="space-10"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">Confirm Old Password</label>

                                        <div class="col-sm-9">
                                            <input type="password" id="form-field-pass0" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">New Password</label>

                                        <div class="col-sm-9">
                                            <input type="password" id="form-field-pass1" />
                                        </div>
                                    </div>

                                    <div class="space-4"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirm Password</label>

                                        <div class="col-sm-9">
                                            <input type="password" id="form-field-pass2" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="userPassChangeSave" class="btn btn-info" type="button">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Save
                                </button>

                                <!--&nbsp; &nbsp;-->
                                <!--<button class="btn" type="reset">-->
                                    <!--<i class="ace-icon fa fa-undo bigger-110"></i>-->
                                    <!--Reset-->
                                <!--</button>-->
                            </div>
                        </div>
                    </form>
                </div><!-- /.span -->
            </div><!-- /.user-profile -->
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script type="application/javascript">

    var userPassChange = new Object;
    var userPassChangeSend = new Object;

//    $('#profile_nav_b').click(function(){
//        $(this).addClass('active');
//       $('#profile_nav_p').removeClass('active');
//    });
//
//    $('#profile_nav_p').click(function(){
//        $(this).addClass('active');
//        $('#profile_nav_b').removeClass('active');
//    });

    function userProfileDataLoad(data){
        $('#user_prof-name').val($.trim(data.name));
        $('#user_prof-nidNo').val($.trim(data.nidNo));
        $('#user_prof-passportNo').val($.trim(data.passportNo));
        $('#user_prof-email').val($.trim(data.email));
        $('#user_prof-phoneNo').val($.trim(data.phoneNo));
    }

    function userProfileResponse(data){
        userProfileDataLoad(data);
    }

    function userProfileResponse_err(data){

    }

    function collectPassFormData(){
        userPassChange.password = $.trim($('#form-field-pass0').val());
        userPassChange.updatedPassword = $.trim($('#form-field-pass1').val());
        userPassChange.conNewPass = $.trim($('#form-field-pass2').val());
    }

    function verifyPassFormData(){
        if ((userPassChange.password == '') || (userPassChange.updatedPassword == '') || (userPassChange.conNewPass == '') ){
            return 0;
        } else if( !(userPassChange.updatedPassword == userPassChange.conNewPass) ) {
            return 2;
        } else {
            return 1;
        }
    }

    function passwordChange(){
        collectPassFormData();
        if (verifyPassFormData() == 1){
            var senddata = {'password':userPassChange.password,'updatedPassword':userPassChange.updatedPassword};
            requestGoApi('/changepassword', 'POST', JSON.stringify(senddata), getAuthToken(), userPassCha_reponse, userPassCha_reponse_err, false);
        } else if( verifyPassFormData() == 2 ) {
            gritter('Error', 'Your New Password and Confirm New Password does not matches', false, '2500', 'gritter-error');
        } else if ( verifyPassFormData() == 0 ) {
            gritter('Error', 'All the fields are required', false, '2500', 'gritter-error');
        }
    }

    function userPassCha_reponse(data){
        if(data.isSuccess){
            gritter('Success', 'Your Password Has been Saved Successfully', false, '2500', 'gritter-success');
        } else {
            gritter('Error', 'Your Old Password is not correct. Try again', false, '2500', 'gritter-error');
        }
    }

    function userPassCha_reponse_err(data){

    }

    jQuery(function($) {
        $('#userPassChangeSave').click(function(){
            passwordChange();
        });
        requestGoApi('/profile', 'GET', '', getAuthToken(), userProfileResponse, userProfileResponse_err, false);
    });
</script>
