<div class="page-header">
    <h1 id="user_new">
        User New
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Create new user account for admin Planel
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/user_management.html')">Back</button>
</p>

<div class="widget-box widget-color-default light-border">
    <div class="widget-header widget-header-small widget-header-flat">
        <span style="color:black">User Information Form</span>
        <div class="widget-toolbar">
            <a data-action="fullscreen" class="orange2" href="#"><i class="ace-icon fa fa-expand"></i></a>
            <a data-action="collapse" href="#"><i class="ace-icon fa fa-chevron-up"></i></a>
            <a data-action="close" href="#"><i class="ace-icon fa fa-times"></i></a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="user-NEW"></div>
        </div>  <!-- WIDGET MAIN -->
    </div> <!-- WIDGET BODY -->
</div>

<script>
// console.log(currentDataUrl);
    $("#user-NEW").alpaca({
        "schema": {
            "type": "object",
            "properties": {
                "id":{
                    "type": "string"
                },
                "name": {
                    "title": "User Name",
                    "type": "string",
                    "required": true                    
                },
                "email": {
                    "title": "Email Address",
                    "format": "email",
                    "required": true
                },
                "phoneNo": {
                    "title": "Phone No",
                    "type": "string",
                    "required": true
                },
                "password": {
                    "title": "New Password",
                    "type": "string",
                    "required": true
                },
//                "nidRole": {
//                    "title": "Role",
//                    "enum": ["system-admin", "admin", "developer"],
//                },
            }
        },
        "postRender": function(){
            var control = $("#nidRole").alpaca("get");
            $('#nidRole').val('developer');
            $('#nidRole').attr('disabled', true);
        },
        "options": {

            "fields": {
                "id": {
                    "id": "id",
                    "type": "hidden"
                },
                "name": {
                    "id": "name",
                    "required": true,
                    "maxLength": 100,
                    "minLength": 3,
                },
                "email": {
                    "id": "email",
                    "required": true,
                },
                "phoneNo": {
                    "id": "phoneNo",
                    "required": true,
                    "maxLength": 11,
                    "minLength": 11,
                },
                "password": {
                    "id": "password",
                    "type": "password",
                    "maxLength": 100,
                    "minLength": 3,
                },
//                "nidRole": {
//                    "id": "nidRole",
//                    "type": "select",
//                    "helper": "The Role selector. This is Read only field",
//                },
            },
            "form": {
                "attributes": {
                    "action": API_SERVER_ADDR + "/create/user",
                    "method": "POST"
                },
                "buttons": {
                    "submit": {
                        "click": function() {
                            this.refreshValidationState(true);
                            if (!this.isValid(true)) {
                                this.focus();
                                return;
                            }

                            var value = this.getValue();
                            var config = {};
                            config.data = JSON.stringify(value);
                            console.log(config.data);
                            requestGoApi('/create/user', 'POST', config.data, getAuthToken(), user_create_response, user_create_response_err, false);
                        }
                    },
//                        "reset": {},
                }
            }
        }
    });

    function user_create_response(data){
        if(data.isSuccess){
            gritter("Success", "Successfully New User Created", false, '1500', 'gritter-success gritter-center');
            load_view('/user_management.html');
        } else {
            gritter("Failed", "User Ragistration Failed", false, '3000', 'gritter-error gritter-center');
        }
    }

    function user_create_response_err(data){

    }
</script>