<div class="page-header">
    <h1 id="page_manager">
        Application List
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Displaying All User application list
        </small>
    </h1>
</div><!-- /.page-header -->

<p class="alert alert-success">
    <button class="btn btn-success" onclick="load_view('/user_app_registration_new.html')">Register New Application</button>
</p>

<table id="grid-data"></table>

<script>
    var grid = $('#grid-data').bootstrapTable({
        url: APP_BASE_API + "/userApplications",
        responseHandler: data_grid_response,
        method: 'POST',
        detailView: true,
        detailFormatter: productdetailformatter,
        search: false,
        searchOnEnterKey: true,
        pagination: true,
        sidePagination: 'server',
        pageSize: 20,
        pageList: [20, 30, 40, 50, 100],
        showRefresh: true,
        showColumns: false,
        buttonsClass: 'info',
        columns: [{
            field: 'nid_app_list_id',
            title: 'App ID'
        }, {
            field: 'nid_user_id',
            title: 'User ID'
        }, {
            field: 'app_name',
            title: 'App Name'
        },{
            field: 'app_domain',
            title: 'App Domain'
        }, {
            field: 'app_description',
            title: 'App Description'
        }, {
            field: 'app_request_limit',
            title: 'App Request Limit'
        }, {
            field: 'enable_cache',
            title: 'Cache Status',
            cellStyle: cahestatusCellstyle,
            formatter: cachestatusFormatter,
        }, {
            field: 'commands',
            title: 'Request Registration',
            formatter: commandFormatter,
            searchable: false
        }]
    }).on('load-success.bs.table', function (data) {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e){
            load_view_n_data("/user_application_req.html","/pages/" + $(this).attr('uniqueId') + "/" + randomGenarator());

        }).end().find(".command-delete").on("click", function(e){
            delete_archive( $(this).attr('uniqueId'),function(data){
                $("#grid-data").bootstrapTable("refresh");
            }, 'pages' );
        });
    });


    function commandFormatter(value, row, index) {
        return '<button class="btn btn-info command-edit" uniqueId="'+ row.id +'"> <span class="fa fa-pencil"></span> </button>';
    }

    function footeradddone(data){
        alert(data.message);
    }

    function cachestatusFormatter(value, row, index){
        if (value == '1') {
            return "Actived";
        } else {
            return "De-activated";
        }
    }

    function cahestatusCellstyle(value, row, index, field){
        if (value == '0') {
            return { css: {"background": "#fb9999"} };
        } else {
            return { css: {"background": "#dbffd7"} };
        }
    }

    function productdetailformatter(value, row, index){
        var html = [];
        $.each(row, function (key, value) {
            if (key == 'description') {
                html.push(  '<p class="alert alert-default">' +
                        '<b>'+key.substr(0,1).toUpperCase()+key.substr(1)+'</b>' +
                        '</p>' +
                        '<p>' +
                        value +
                        '</p>')
                // html.push('<p><b>' + key.substr(0,1).toUpperCase()+key.substr(1) + '</b></p> <p');
            }
        });
        return html.join('');
    }

</script>