.lean_right{
	text-align: right;
}

.lean_left{
	text-align: left;
}

.lean_center{
	text-align: center;
}

.btn-border{
	border-radius: 4px !important;
}

.btn-background{
	background: #446A81; !important;
}

.pro_con_cont{
	background-color: #eee;
	padding: 25px;
}

.footer_inventory {
	z-index: 1000;
    position: fixed;
    height: 60px;
    bottom: 3%;
    margin-left: 0 !important;
    width: 90%;    
}

.footer_background{
	/*background-color: rgba(255, 255, 255, 0.39);*/
	background-color: rgba(67, 142, 185, 0.56);
}

.fixed_top_header {
	z-index: 1000;
    position: fixed;
    height: 60px;
    top: 1%;
}

.product_count_last_count{
	background-color: red !important;
}